<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Providers" type="System.Configuration.NameValueSectionHandler"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Nrc.QualiSys_Scanner_Interface.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <Providers>
    <add key="DataProvider" value="Nrc.AdventureWorks.Library.SqlProvider.SqlDataProvider, Nrc.AdventureWorks.Library.SqlProvider"/>
  </Providers>
  <userSettings>
    <Nrc.QualiSys_Scanner_Interface.My.MySettings>
      <setting name="MainFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MainFormSize" serializeAs="String">
        <value>720, 500</value>
      </setting>
      <setting name="MainFormSplitterLocation" serializeAs="String">
        <value>218</value>
      </setting>
      <setting name="MainFormWindowState" serializeAs="String">
        <value>Maximized</value>
      </setting>
      <setting name="ImportNextKey" serializeAs="String">
        <value>Enter</value>
      </setting>
      <setting name="ImportSkipKey" serializeAs="String">
        <value>Escape</value>
      </setting>
      <setting name="ImportZoomInKey" serializeAs="String">
        <value>Ctrl+F8</value>
      </setting>
      <setting name="ImportZoomOutKey" serializeAs="String">
        <value>Ctrl+F7</value>
      </setting>
      <setting name="ImportRotateClockwiseKey" serializeAs="String">
        <value>Alt+F11</value>
      </setting>
      <setting name="ImportRotateCounterClockwiseKey" serializeAs="String">
        <value>Alt+F12</value>
      </setting>
      <setting name="NavigatorFont" serializeAs="String">
        <value>Tahoma, 8.25pt</value>
      </setting>
      <setting name="TransferResultsViewTreeLegend" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TransferResultsSortMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TransferResultsNavigatorFilterMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TransferResultsSectionFilterMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VendorFileNavigatorFilterMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VendorFileViewTreeLegend" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DataEntryViewTreeLegend" serializeAs="String">
        <value>True</value>
      </setting>
    </Nrc.QualiSys_Scanner_Interface.My.MySettings>
  </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
