<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Migrated rules for SurveyPoint.Library.SqlDataProvider.ruleset" Description="This rule set was created from the CodeAnalysisRules property for the &quot;Testing (Any CPU)&quot; configuration in project &quot;C:\Workspace\code\payers2\SurveyPoint Class Library Solution\SurveyPoint.Library.SqlDataProvider\SurveyPoint.Library.SqlDataProvider.vbproj&quot;." ToolsVersion="10.0">
  <RuleHintPaths>
    <Path>C:\Program Files\Microsoft Visual Studio 8\Team Tools\Static Analysis Tools\FxCop\\rules</Path>
  </RuleHintPaths>
</RuleSet>