<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Providers" type="System.Configuration.NameValueSectionHandler" />
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nrc.Notification_Admin.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<Providers>
		<add key="DataProvider" value="Nrc.AdventureWorks.Library.SqlProvider.SqlDataProvider, Nrc.AdventureWorks.Library.SqlProvider" />
	</Providers>
    <userSettings>
        <Nrc.Notification_Admin.My.MySettings>
            <setting name="MainFormWindowState" serializeAs="String">
                <value>Maximized</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>628, 497</value>
            </setting>
            <setting name="MainFormSplitterLocation" serializeAs="String">
                <value>218</value>
            </setting>
        </Nrc.Notification_Admin.My.MySettings>
    </userSettings>
</configuration>
