<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="Nrc.QualiSys.QualiSysExplorer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="Nrc.QualiSys.QualiSysExplorer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <userSettings>
  <Nrc.QualiSys.QualiSysExplorer.My.MySettings>
   <setting name="WindowLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="WindowState" serializeAs="String">
    <value>Maximized</value>
   </setting>
   <setting name="WindowSize" serializeAs="String">
    <value>500, 500</value>
   </setting>
   <setting name="SplitterDistance" serializeAs="String">
    <value>220</value>
   </setting>
  </Nrc.QualiSys.QualiSysExplorer.My.MySettings>
 </userSettings>
 <applicationSettings>
  <Nrc.QualiSys.QualiSysExplorer.My.MySettings>
   <setting name="QualiSysExplorer_AddressCleaning_Cleaner" serializeAs="String">
    <value>http://cyclone/addresscleaning/Cleaner.asmx</value>
   </setting>
  </Nrc.QualiSys.QualiSysExplorer.My.MySettings>
 </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
