<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Nrc.NrcAuthAdmin.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="US_Stage_CatalystStar"     connectionString="Data Source=srvlsql01.devnrcus.local\rvl01;Initial Catalog=NRC_CatalystStar_A;User Id=revealApps;Password=NRCst@g3SqlP@55;MultipleActiveResultSets=True;Integrated Security=False" />
    <add name="Canada_Stage_CatalystStar" connectionString="Data Source=srvlsql01.devnrcus.local\rvl01;Initial Catalog=NRC_CatalystStar_CA_A;User Id=revealApps;Password=NRCst@g3SqlP@55;MultipleActiveResultSets=True;Integrated Security=False" />
  </connectionStrings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <Nrc.NrcAuthAdmin.My.MySettings>
      <setting name="MainFormLocation" serializeAs="String">
            <value>0, 0</value>nr
      </setting>
      <setting name="MainFormWindowState" serializeAs="String">
        <value>Maximized</value>
      </setting>
      <setting name="MainFormSize" serializeAs="String">
        <value>635, 496</value>
      </setting>
      <setting name="StandardOneClickDialogSize" serializeAs="String">
        <value>608, 408</value>
      </setting>
      <setting name="MainFormSplitterLocation" serializeAs="String">
        <value>218</value>
      </setting>
    </Nrc.NrcAuthAdmin.My.MySettings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>