<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RuleConfigurations" type="NRCFileConverterLibrary.Common.RuleConfigurationHandler,NRCFileConverterLibrary"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <RuleConfigurations>
    <Rule
      Name="Payer"
      Provider ="FlatToAccessProvider"
      FileType="*.csv|*.txt"
      InputPath="C:\ServicesData\FileConversionService\Input\"
      InProcessPath="C:\ServicesData\FileConversionService\InProcess\"
      OutPath ="C:\ServicesData\FileConversionService\Output\"
      ArchivePath="C:\ServicesData\FileConversionService\Archive\"
      PrimaryKey="respondentid">
    </Rule>
  </RuleConfigurations>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="appTitle" value="My Application"/>
    <variable name="logFilePath" value="${specialfolder:folder=Desktop:file=${appTitle} log.log}"/>

    <targets async="true">
      <target name="file" xsi:type="File" fileName="${logFilePath}" layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}"/>

      <target name="fileAsInfo" xsi:type="File" fileName="InfoFile.txt" layout="${longdate} ${level:upperCase=true}: ${message} ${exception:format=ToString}"/>

      <target xsi:type="EventLog" name="eventLog" source="${appTitle}" layout="${message}${newline}${exception:format=tostring}"/>
      <target name="MainDialog" xsi:type="FormControl" formName="NRCFileConverter" controlName="txtLogs" layout="${longdate} ${level:uppercase=true} ${logger} ${message}${newline}"/>
    </targets>

    <!--<targets>
      <target xsi:type="MessageBox" name="mbox" caption="Error" layout="An error has occurred. Please see the log file (${logFilePath}) or event log for more details."/>
    </targets>-->

    <rules>
      <logger name="*" level="trace" writeTo="fileAsInfo"/>
      <logger name="*" level="Info" writeTo="fileAsInfo"/>
      <!--<logger name="*" minlevel="Info" writeTo="MainDialog"/>-->
      <!--<logger name="*" minlevel="Trace" writeTo="MainDialog"/>-->
      <logger name="*" minlevel="Warn" writeTo="file"/>
      <logger name="*" minlevel="Warn" writeTo="eventLog"/>
      <!--<logger name="*" minlevel="Error" writeTo="mbox"/>-->
    </rules>
  </nlog>
  <appSettings>
    <add key="TimerInterval" value ="5000"/>
  </appSettings>
</configuration>