*.suo
*.user
*.dbmdl
*.psess
*.vsp
*.log
*.gitattributes
*.orig
*.out
*.output.txt
.pubxml
bin/
obj/
publish/
TestResults/
FakesAssemblies/
.metadata/
packages/
.recommenders/
thumbs.db
