*.suo
*.user
*.dbmdl
*.psess
*.vsp
*.log
*.gitattributes
*.orig
*.out
*.output.txt
.pubxml
*.pdb
*.dll
bin/
obj/
publish/
TestResults/
FakesAssemblies/
.metadata/
packages/
.recommenders/
thumbs.db
/Legacy/Scanner Interface/Create Definition Files/CreateDefinitionFiles.vbw
/QualiSys Explorer Solution/QualiSysExplorer/My Project/licenses.licx.bak
/QualiSys Explorer Solution/QualiSysExplorer/App.config.bak
/QualiSys Explorer Solution/QualiSysExplorer/QualiSysExplorer.vbproj.bak
/Sprint_docs/Sprint28_docs/SQLQuery39.sql
/Sprint_docs/Search
