<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Nrc.Framework.Configuration">
      <section name="environmentSettings" type="Nrc.Framework.Configuration.EnvironmentSettingsSectionHandler, Nrc.Framework" />
    </sectionGroup>
    <section name="Providers" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <Providers>
    <add key="DataProvider" value="Nrc.AdventureWorks.Library.SqlProvider.SqlDataProvider, Nrc.AdventureWorks.Library.SqlProvider" />
  </Providers>
  <Nrc.Framework.Configuration>
    <environmentSettings>
      <globalSetting name="SqlTimeout" value="600" />
      <environment name="Production" type="Production">
        <setting name="QP_LoadConnection" description="Mars" isEncrypted="true" value="DO3tvHPYYDDOCLlCH7BytVPyxq451davA2pn3UKUc63j7u0MP0IZQ1bkRZfcf7yB+JTmVyEqwJed6dmcqKIDlQ==" />
        <setting name="NrcAuthConnection" description="Mercury" isEncrypted="true" value="DO3tvHPYYDAZVgZpqOVehTQIe1k7CAiWp4p/GHqb8GyoP+ybu/8C2IcJtffaQYwQzNvGw1vQH8/MQdujcVe2eg==" />
        <setting name="QualisysConnection" description="NRC10" isEncrypted="true" value="5jmulL7A4J+5KSiTIpNplY2j4GSJ4aU+/lNPiM+vsPXWQzXj5jkAQO18s/TiO1aSwK5EpQ6uVWw=" />
        <setting name="SmtpServer" description="Production SMTP" isEncrypted="false" value="smtp2.nationalresearch.com" />
      <setting name="ReportServer" value="http://iris/reportserver?/Data+Loader/" />
      <setting name="UploadedFileReport" value="Data+Loader+Uploaded+File" />
      </environment>
      <environment name="Staging" type="Testing">
		  <setting name="QP_LoadConnection" description="Cyclone" isEncrypted="false" value="Data Source=Cyclone;UID=qpsa;PWD=qpsa;Initial Catalog=QP_Load" />
		  <setting name="NrcAuthConnection" description="Jayhawk" isEncrypted="false" value="Data Source=Jayhawk;UID=qpsa;PWD=qpsa;Initial Catalog=NrcAuth" />
		  <setting name="QualisysConnection" description="Tiger" isEncrypted="true"  value="DO3tvHPYYDAnundeRbzjYD6dTOkeDskBBivNzP4AH2rDIUJEDDpy6HvUts+3a7mDsJjTuG1pKI4JifQRfnLtcg==" />
		  <setting name="SmtpServer" description="Staging SMTP" isEncrypted="false" value="Huskers" />
      <setting name="ReportServer" value="http://runningrebel/ReportServer/ReportViewer.aspx?/DataLoader/" />
      <setting name="UploadedFileReport" value="Data+Loader+Uploaded+File" />
      </environment>
      <environment name="Testing" type="Testing">
        <setting name="QP_LoadConnection" description="WonderWoman" isEncrypted="true" value="DO3tvHPYYDAm/DNH4dYFB0VwuDBT3ltIU/MjE+lVG3BRGoa8MjdZm3F2Aa78N1NOnI5TRSKlF0q0VxASRPOIZ2G4zzbYGAiY" />
        <setting name="NrcAuthConnection" description="Batman" isEncrypted="true" value="DO3tvHPYYDAHgiCvmF6T3xGc3KX1+0okgUnY0LWHbZVOkEpifergZHDrwXbRYWcLgSItuQX981iJyKP/+XpBMQ==" />
        <setting name="QualisysConnection" value="dcu25+aGwZdkmIOg7XRrhlrZAeMi+TM9p/qTLDrndMYjBVLrIHVpDWJ8XNimdezMsLnX5zm8aFa7jNVAw0S2bg==" />
        <setting name="SmtpServer" description="Testing SMTP" isEncrypted="false" value="Superman" />
        <setting name="ReportServer" value="http://ironman/ReportServer/Pages/ReportViewer.aspx?/DataLoader/" />
        <setting name="UploadedFileReport" value="Data+Loader+Uploaded+File" />
      </environment>
      <environment name="Development" type="Testing">
        <setting name="QP_LoadConnection" description="WonderWoman,5678" isEncrypted="true" value="DO3tvHPYYDAm/DNH4dYFBynEA9+0iCKQFKPUtMnwPMB0byEhSx9Ja6hawwUvbOpCWA2qzCfcdQ1IpEVf4Tyci/r5YCsFIZbh" />
        <setting name="NrcAuthConnection" description="Batman,5678" isEncrypted="true" value="DO3tvHPYYDAHgiCvmF6T331q204Wf1H3tnt7xA235iaPdlyE+jXIFuk49Xm+gTzdaMArQ3T5SC8MEIfH6KetfUh5cOEWTLD9" />
        <setting name="QualisysConnection" description="Spiderman,5678" isEncrypted="true" value="server=Spiderman,5678;database=QP_Prod;user=qpsa;password=qpsa;" />
        <setting name="SmtpServer" description="Production SMTP" isEncrypted="false" value="smtp2.nationalresearch.com" />
        <setting name="ReportServer" value="http://ironman/ReportServer/Pages/ReportViewer.aspx?/DataLoader/" />
        <setting name="UploadedFileReport" value="Data+Loader+Uploaded+File" />       
      </environment>
    </environmentSettings>
  </Nrc.Framework.Configuration>
</configuration>
