/*
	S24 US 11 ACO Survey Validation	As an Implementation Associate, I want survey validation updated with the new core numbers, so that I can validate updated surveys for Fall 2015 fielding.

	Task 11.1 insert records into survey type question mapping table for ACO-9 and update records for ACO-12

	T. Butler	
*/

USE QP_PROD
GO

DECLARE @Surveytype_id int
DECLARE @Subtype_id int


SELECT @Surveytype_id = SurveyType_id
from SurveyType
WHERE SurveyType_dsc = 'ACOCAHPS'

select @Subtype_id = Subtype_Id
from Subtype
where Subtype_nm = 'ACO-12'



begin tran

DELETE FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND SubType_id = @Subtype_id

IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50175 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50175,1,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50176 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50176,2,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50177 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50177,3,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 51426 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,51426,4,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 53421 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,53421,5,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 53422 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,53422,6,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50181 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50181,7,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50182 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50182,8,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 53423 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,53423,9,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 53424 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,53424,10,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50185 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50185,11,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 53427 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,53427,12,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50187 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50187,13,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50188 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50188,14,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 53428 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,53428,15,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50190 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50190,16,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50191 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50191,17,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50192 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50192,18,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 53429 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,53429,19,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 53425 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,53425,20,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50195 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50195,21,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50196 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50196,22,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50197 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50197,23,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50198 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50198,24,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50199 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50199,25,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50200 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50200,26,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50201 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50201,27,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50202 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50202,28,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50203 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50203,29,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50204 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50204,30,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50205 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50205,31,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50206 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50206,32,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50207 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50207,33,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50208 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50208,34,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50209 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50209,35,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50210 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50210,36,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50211 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50211,37,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50212 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50212,38,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50213 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50213,39,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50214 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50214,40,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50215 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50215,41,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50216 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50216,42,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50217 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50217,43,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50218 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50218,44,0,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50219 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50219,45,0,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50220 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50220,46,0,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50221 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50221,47,0,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50222 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50222,48,0,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50223 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50223,49,0,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50224 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50224,50,0,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50225 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50225,51,0,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50226 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50226,52,0,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50227 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50227,53,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50228 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50228,54,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50229 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50229,55,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50230 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50230,56,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50234 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50234,57,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50235 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50235,58,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50236 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50236,59,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50237 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50237,60,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50238 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50238,61,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50239 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50239,62,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50240 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50240,63,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50241 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50241,64,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50699 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50699,65,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50243 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50243,66,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50700 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50700,67,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50245 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50245,68,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50246 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50246,69,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50247 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50247,70,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50248 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50248,71,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50249 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50249,72,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50250 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50250,73,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50251 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50251,74,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50252 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50252,75,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,1)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50253 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50253,76,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50254 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50254,77,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50255 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50255,78,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50725 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50725,79,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50726 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50726,80,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50727 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50727,81,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50728 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50728,82,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50729 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50729,83,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50730 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50730,84,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50731 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50731,85,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50732 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50732,86,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50733 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50733,87,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50734 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50734,88,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50735 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50735,89,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50736 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50736,90,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50737 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50737,91,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50738 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50738,92,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50739 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50739,93,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50740 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50740,94,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50256 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50256,95,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,0)
IF NOT EXISTS(SELECT 1 FROM [dbo].[SurveyTypeQuestionMappings] WHERE  SurveyType_id = @SurveyType_ID AND QstnCore = 50744 AND SubType_id = @Subtype_id)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id], [isATA],[isMeasure])VALUES(@SurveyType_ID,50744,96,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,0,0)



SELECT *
  FROM [QP_Prod].[dbo].[SurveyTypeQuestionMappings]
  where SurveyType_id = @Surveytype_id
  and SubType_ID = @Subtype_id
  order by intOrder

commit tran



--rollback tran

