USE [QP_Load]
GO
/****** Object:  StoredProcedure [dbo].[LD_GetDataFile]    Script Date: 04/03/2008 16:16:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LD_GetPackageIDsByStudyID]
	@Study_id INT
AS

SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED  
SET NOCOUNT ON  

SELECT Package_id FROM Package WHERE Study_id = @Study_id

SET TRANSACTION ISOLATION LEVEL READ COMMITTED  
SET NOCOUNT OFF  

