<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
	<configSections>
    <sectionGroup name="Nrc.Framework.Configuration">
    <section name="environmentSettings" type="Nrc.Framework.Configuration.EnvironmentSettingsSectionHandler, Nrc.Framework" />
    </sectionGroup>
  </configSections>
  <Nrc.Framework.Configuration>
	<environmentSettings currentEnvironment="Staging">
    <globalSetting name="FileSizeLimitkB" value="10240" />
    <globalSetting name="SqlTimeout" value="600" />
    <environment name="Production USA" type="Production"> 
			<setting name="SMTPServer" value="smtp2.nationalresearch.com" />
			<setting name="NRCAuthConnection" isEncrypted="true" value="DO3tvHPYYDDMsvvBGX9FXQMDV6kay9evjn+hKPX8uvyOm4d+aVcp3dPaTdOOB0xE3jwwwDNYW2IHPIc0XLMe5Q=="/>
			<setting name="QP_CommentsConnection" isEncrypted="true" value="DO3tvHPYYDDpQslhay4nljBr1mGTyQGGjIIPqwsLKJ47E5Xo5mvjWgs+sdvj4wDF/bygjNZmBJ8SApCX7oWmVr302o1j5Qao" /> 
			<setting name="WebDocumentPosterUrl" isEncrypted="false" value="http://nrcpicker.com:12140/FileManager.asmx" />
		</environment> 
		<environment name="Staging" type="Testing"> 
			<setting name="SMTPServer" value="huskers" />
			<setting name="NRCAuthConnection" isEncrypted="true" value="DO3tvHPYYDCf9gg/r7SmCgOCZMVxwLQ8hF75f7dnCiow1llKJihn2Ga3GWMQHjAtRsshzunjjmtrZEq909xGPA=="/>
			<setting name="QP_CommentsConnection" isEncrypted="true" value="DO3tvHPYYDC75nxzI8lD5vLIEl6VugP53EMV7HkfjlicB3IIZ0pFuCsvQjuwK/TxVSnfRUWzynjUuBQu2Xq89NdtFRUSjk+F" /> 
			<setting name="WebDocumentPosterUrl" isEncrypted="false" value="http://stage.nrcpicker.com:12140/FileManager.asmx" />
		</environment>
    <environment name="Testing" type="Testing">
      <setting name="SMTPServer" value="superman" />
      <setting name="NRCAuthConnection" isEncrypted="true" value="DO3tvHPYYDC58Cw4kSdNyzmKYtpZNZAn/r7AICWXXCLZ+45BZ2bJoYXMizlCCfbHzN7HBgqgqpKvamROmGWjww=="/>
      <setting name="QP_CommentsConnection" isEncrypted="true" value="DO3tvHPYYDAonD4gM6GiR7ZvomytemyaYwV0xyZS1XIi/m7FeNX8WbomJ4GXrkvWEbeG1yDRplOW8DqoMY4OUg==" />
      <setting name="WebDocumentPosterUrl" isEncrypted="false" value="http://test.nrcpicker.com:12140/FileManager.asmx" />
    </environment>
    <environment name="Development" type="Development"> 
			<setting name="SMTPServer" value="smtp2.nationalresearch.com" />
			<setting name="NRCAuthConnection" isEncrypted="true" value="DO3tvHPYYDAHgiCvmF6T331q204Wf1H3tnt7xA235iaPdlyE+jXIFuk49Xm+gTzdaMArQ3T5SC8MEIfH6KetfUh5cOEWTLD9"/>
			<setting name="QP_CommentsConnection" isEncrypted="true" value="DO3tvHPYYDAonD4gM6GiR/ekPuD+5QpVMniYfYJ5SNvz6Hj5NLD1qlJwLPTpnmsm1HPEjUpXAismvWSj+JAgJdrhbTbw/NGI" /> 
			<setting name="WebDocumentPosterUrl" isEncrypted="false" value="http://localhost/webdocumentposter/FileManager.asmx" />		
		</environment> 
	</environmentSettings>
  </Nrc.Framework.Configuration>
 </configuration> 
