<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Nrc.Framework.Configuration">
      <section name="environmentSettings" type="Nrc.Framework.Configuration.EnvironmentSettingsSectionHandler, Nrc.Framework" />
    </sectionGroup>
    <section name="enterpriselibrary.configurationSettings" type="Microsoft.Practices.EnterpriseLibrary.Configuration.ConfigurationManagerSectionHandler, Microsoft.Practices.EnterpriseLibrary.Configuration" />
    <section name="dataConfiguration" type="System.Configuration.IgnoreSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="Providers" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <connectionStrings>
    <add name="Nrc.DataMart.ExportManager.My.MySettings.DataMartConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Data\DataMart.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <Providers>
    <add key="DataMartDataProvider" value="Nrc.DataMart.Library.SqlProvider.SqlDataProvider, Nrc.DataMart.Library.SqlProvider" />
  </Providers>
  <Nrc.Framework.Configuration>
    <environmentSettings currentEnvironment="Development">
      <globalSetting name="LogEvents" value="true" />
      <environment name="Production USA" type="Production">
        <setting name="DataMartDBInstance" value="DataMart (Development)" />
        <setting name="AddressCleaningUrl" value="http://mars/addresscleaning/Cleaner.asmx" />
        <setting name="SmtpServer" value="smtp.nationalresearch.com" />
      </environment>
      <environment name="Production CA" type="Production">
        <setting name="DataMartDBInstance" value="DataMart (Development)" />
        <setting name="AddressCleaningUrl" value="http://NRCC02:62370/AddressCleaning/Cleaner.asmx" />
        <setting name="SmtpServer" value="NRCC02" />
      </environment>
      <environment name="Testing" type="Testing">
        <setting name="DataMartDBInstance" value="DataMart (Development)" />
        <setting name="AddressCleaningUrl" value="http://mars/addresscleaning/Cleaner.asmx" />
        <setting name="SmtpServer" value="smtp.nationalresearch.com" />
      </environment>
      <environment name="Development" type="Development">
        <setting name="DataMartDBInstance" value="DataMart (Development)" />
        <setting name="AddressCleaningUrl" value="http://mars/addresscleaning/Cleaner.asmx" />
        <setting name="SmtpServer" value="smtp.nationalresearch.com" />
      </environment>
    </environmentSettings>
  </Nrc.Framework.Configuration>
   <enterpriselibrary.configurationSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" applicationName="Application" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
    <configurationSections>
      <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="dataConfiguration" encrypt="false">
        <storageProvider xsi:type="AppConfigFileStorageProviderData" name="Application Configuration File Storage Provider" />
        <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
          <includeTypes />
        </dataTransformer>
      </configurationSection>
    </configurationSections>
    <keyAlgorithmStorageProvider xsi:nil="true" />
    <includeTypes />
  </enterpriselibrary.configurationSettings>
  <dataConfiguration>
    <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null">
      <enterpriseLibrary.databaseSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" defaultInstance="QualiSys (Testing)" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/data">
        <databaseTypes>
          <databaseType name="Sql Server" type="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
        </databaseTypes>
        <instances>
          <instance name="DataMart (Development)" type="Sql Server" connectionString="DataMart (SQLExpress)" />
        </instances>
        <connectionStrings>
          <connectionString name="DataMart (SQLExpress)">
            <parameters>
              <parameter name="Data Source" value=".\SQLEXPRESS" isSensitive="false" />
              <parameter name="AttachDbFilename" value="|DataDirectory|\DataMart.mdf" isSensitive="false" />
              <parameter name="Integrated Security" value="True" isSensitive="false" />
              <parameter name="User Instance" value="True" isSensitive="false" />
            </parameters>
          </connectionString>
<!--          <connectionString name="DataMart (SQLExpress)">
            <parameters>
              <parameter name="Data Source" value="np:\\.\pipe\2F57C15D-3BDD-48\tsql\query" isSensitive="false" />
              <parameter name="Initial Catalog" value="E:\LOCAL PROJECTS\EXPORT MANAGER SOLUTION\EXPORTMANAGER\BIN\DEBUG\DATA\DATAMART.MDF" isSensitive="false" />
              <parameter name="Integrated Security" value="True" isSensitive="false" />
            </parameters>
          </connectionString>
-->
        </connectionStrings>
      </enterpriseLibrary.databaseSettings>
    </xmlSerializerSection>
  </dataConfiguration>
  <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
