<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Nrc.Framework.Configuration">
      <section name="environmentSettings" type="Nrc.Framework.Configuration.EnvironmentSettingsSectionHandler, Nrc.Framework" />
    </sectionGroup>
    <section name="Providers" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <Providers>
    <add key="DataProvider" value="Nrc.AdventureWorks.Library.SqlProvider.SqlDataProvider, Nrc.AdventureWorks.Library.SqlProvider" />
  </Providers>
  <Nrc.Framework.Configuration>
    <environmentSettings>
      <globalSetting name="SqlTimeout" value="600" />
	  <globalSetting name="TempFileDirectory" value="C:\TemplateImporterTemp" />
      <environment name="Production" type="Production">
		  <!--Testing with Test Connection in the Prod Environment-->
      <setting name="NrcAuthConnection" description="Mercury" isEncrypted="true" value="DO3tvHPYYDAZVgZpqOVehTQIe1k7CAiWp4p/GHqb8GyoP+ybu/8C2IcJtffaQYwQzNvGw1vQH8/MQdujcVe2eg==" />
		  <setting name="QMSConnection" description="Aries" isEncrypted="true" value="DO3tvHPYYDB5Ktge/0Di/+qDSsILIrsQp8rM/p08thuPdA0aqyax4V/x99+903KVVeifsudwsZPX6OAv4yKMFHenALBL+q5v" />		  
		  <setting name="SmtpServer" description="Production SMTP" isEncrypted="false" value="smtp2.nationalresearch.com" />
		  <!--<setting name="NrcAuthConnection" description="Mercury" isEncrypted="true" value="DO3tvHPYYDAZVgZpqOVehTQIe1k7CAiWp4p/GHqb8GyoP+ybu/8C2IcJtffaQYwQzNvGw1vQH8/MQdujcVe2eg==" />		  
		<setting name="QMSConnection" description="TestSQLServer02,5678" isEncrypted="false" value="Data Source=TestSQLServer02,5678;UID=qmswebuser;PWD=luckydog;Initial Catalog=QMS;" />
		  <setting name="SmtpServer" description="Production SMTP" isEncrypted="false" value="smtp2.nationalresearch.com" />-->
	  </environment>
      <environment name="Staging" type="Testing">
		  <setting name="NrcAuthConnection" description="JayHawk" isEncrypted="true" value="DO3tvHPYYDDt/PZdQu6hZG3W+1RyJqxSd1wsJtLiiNjVq7LPva+DeT3H2d0gYPv/IWxyx5ur04dqfn6b7rmNwQ==" />
		  <setting name="QMSConnection" description="Hawkeye" isEncrypted="true" value="DO3tvHPYYDBTzuCSF8595vjLe49HqMYQ77DxKKqM5u1EQUf5f0jsZYMc2m4ByHIrjkT/BUdsmhlkzbuuwDvnvvFPqylxGoBx" />
		  <setting name="SmtpServer" description="Production SMTP" isEncrypted="false" value="smtp2.nationalresearch.com" />
      </environment>
      <environment name="Testing" type="Testing">
		  <setting name="NrcAuthConnection" description="Batman" isEncrypted="false" value="Data Source=Batman;UID=qpsa;PWD=qpsa;Initial Catalog=NRCAuth;" />
		  <setting name="QMSConnection" description="TestSQLServer02" isEncrypted="false" value="Data Source=TestSQLServer02;UID=qmswebuser;PWD=luckydog;Initial Catalog=QMS;" />
		  <setting name="SmtpServer" description="Production SMTP" isEncrypted="false" value="smtp2.nationalresearch.com" />
      </environment>
      <environment name="Development" type="Development">
		  <setting name="NrcAuthConnection" description="Batman,5678" isEncrypted="false" value="Data Source=Batman,5678;UID=qpsa;PWD=qpsa;Initial Catalog=NRCAuth;" />
		  <setting name="QMSConnection" description="TestSQLServer02,5678" isEncrypted="false" value="Data Source=TestSQLServer02,5678;UID=qmswebuser;PWD=luckydog;Initial Catalog=QMS;" />
		  <setting name="SmtpServer" description="Production SMTP" isEncrypted="false" value="smtp2.nationalresearch.com" />
	  </environment>
    </environmentSettings>
  </Nrc.Framework.Configuration>
</configuration>
