<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="appTitle" value="WebSurveyEmailService"/>
    <variable name="logFilePath" value="C:\Logs\${appTitle} LOG.log"/>

    <targets async="true">
      <target name="console" xsi:type="Console" layout="${date:format=HH\:MM\:ss} ${logger} ${message}" />
      <target xsi:type="EventLog" name="eventLog" source="${appTitle}" layout="${message}${newline}${exception:format=tostring}"/>
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="console"/>
      <logger name="*" minlevel="Warn" writeTo="eventLog"/>
    </rules>
  </nlog>
</configuration>