<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <ServiceName>Qualisys File Moving Service</ServiceName>
  <IntervalSecs>60</IntervalSecs>

  <!-- Wiki Page is at: https://nrcwiki.nationalresearch.com/mediawiki/index.php?title=Picker/Qualisys/File_Copy_Service -->

  <!-- <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp> -->
  <!-- <DirectorySyncItem>
    <SourceDirectory>\\ATLASVM02\data\DataExchange\DataFileUploads</SourceDirectory>
    <MountDriveLetter>J:</MountDriveLetter>
    <DestinationDirectory>\\NEPTUNE\nrc4\Holding\Adam\Logging</DestinationDirectory>
    <UserName>ATLASVM02\#DataExchangeAccess</UserName>
    <Password>#Issaquah#</Password>
    <MoveFiles>true</MoveFiles>
  </DirectorySyncItem> -->

  <DirectorySyncTask>
    <Source>
      <Local>
        <!--<Path>\\superman\DataLoaderFiles\QualisysFileMoverTest</Path>-->
        <Path>C:\TEST\FileMovingService\Source</Path>
      </Local>
    </Source>
    <Destination>
      <Local>
        <Path>C:\TEST\FileMovingService\Destination</Path>
      </Local>
    </Destination>
    <Backup>
      <Local>
        <Path>C:\TEST\FileMovingService\Backup</Path>
      </Local>
    </Backup>
    <Action>Copy</Action>
  </DirectorySyncTask>

  <!--<DirectorySyncTask>
    <Source>
      <UNC>
        <Path>\\ATLASVM02.lnkdmz.com\data\DataExchange\DataFileUploads</Path>
        <UserName>ATLASVM02\#DataExchangeAccess</UserName>
        <Password>#Issaquah#</Password>
      </UNC>
    </Source>
    <Destination>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\nrc4\Holding\Adam\Logging</Path>
      </Local>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\DataFileUploads</Path>
      </Local>
    </Backup>
    <Action>Move</Action>
  </DirectorySyncTask>

  --><!-- <DirectorySyncItem>
    <SourceDirectory>\\ATLASVM02\data\DataLoaderFiles</SourceDirectory>
    <MountDriveLetter>J:</MountDriveLetter>
    <DestinationDirectory>\\NEPTUNE\nrc4\DataLoaderFiles</DestinationDirectory>
    <UserName>ATLASVM02\#DataExchangeAccess</UserName>
    <Password>#Issaquah#</Password>
    <MoveFiles>true</MoveFiles>
  </DirectorySyncItem> --><!--
  <DirectorySyncTask>
    <Source>
      <UNC>
        <Path>\\ATLASVM02.lnkdmz.com\data\DataLoaderFiles</Path>
        <UserName>ATLASVM02\#DataExchangeAccess</UserName>
        <Password>#Issaquah#</Password>
      </UNC>
    </Source>
    <Destination>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\nrc4\DataLoaderFiles</Path>
      </Local>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\DataLoaderFiles</Path>
      </Local>
    </Backup>
    <Action>Move</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- <DirectorySyncItem>
    <SourceDirectory>\\OMA0ZFTP-S.lnkdmz.com\FTPUsers</SourceDirectory>
    <MountDriveLetter>Z:</MountDriveLetter>
    <DestinationDirectory>\\oma0pfil01.nationalresearch.com\nrc4\Holding\Adam\logging</DestinationDirectory>
    <BackupDirectory>\\oma0pfil01.nationalresearch.com\FileMoverArchive\{1}</BackupDirectory>
    <UserName>lnkdmz\#dmzftpmover</UserName>
    <Password>x27vngA#hcI#A1k</Password>
    <MoveFiles>true</MoveFiles>
    <FileMatch>^\\([^\\]*)\\uploads\\.+</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
  </DirectorySyncItem> --><!--
  <DirectorySyncTask>
    <Source>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPUsers</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Source>
    <Destination>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\nrc4\Holding\Adam\logging</Path>
      </Local>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive</Path>
      </Local>
    </Backup>
    <FileMatch>^\\([^\\]*)\\uploads\\(.+)</FileMatch>
    <ToFlatLayout>True</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- <DirectorySyncItem>
    <SourceDirectory>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\ocs\uploads</SourceDirectory>
    <MountDriveLetter>F:</MountDriveLetter>
    <DestinationDirectory>\\oma0pfil01.nationalresearch.com\OCSHHCAHPS\uploads</DestinationDirectory>
    <BackupDirectory>\\oma0pfil01.nationalresearch.com\FileMoverArchive\ocs</BackupDirectory>
    <UserName>lnkdmz\#dmzftpmover</UserName>
    <Password>x27vngA#hcI#A1k</Password>
    <MoveFiles>true</MoveFiles>
    <FileMatch></FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
  </DirectorySyncItem> --><!--
  <DirectorySyncTask>
    <Source>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\ocs\uploads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Source>
    <Destination>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\OCSHHCAHPS\uploads</Path>
      </Local>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\ocs</Path>
      </Local>
    </Backup>
    <FileMatch>^\\[^\\]*$</FileMatch>
    <Action>Overwrite</Action>
    <ToFlatLayout>true</ToFlatLayout>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- <DirectorySyncItem>
    <SourceDirectory>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\NovantIll\uploads</SourceDirectory>
    <MountDriveLetter>Q:</MountDriveLetter>
    <DestinationDirectory>\\smartlink.nationalresearch.com\Novant</DestinationDirectory>
    <BackupDirectory>\\oma0pfil01.nationalresearch.com\FileMoverArchive\Novant</BackupDirectory>
    <UserName>lnkdmz\#dmzftpmover</UserName>
    <Password>x27vngA#hcI#A1k</Password>
    <MoveFiles>true</MoveFiles>
    <FileMatch></FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
  </DirectorySyncItem> --><!--
  <DirectorySyncTask>
    <Source>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\NovantIll\uploads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Source>
    <Destination>
      <Local>
        <Path>\\smartlink.nationalresearch.com\Novant</Path>
      </Local>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\Novant</Path>
      </Local>
    </Backup>
    <FileMatch>^\\[^\\]*$</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- <DirectorySyncItem>
    <SourceDirectory>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\DRG-Phone-Transfer\uploads</SourceDirectory>
    <MountDriveLetter>T:</MountDriveLetter>
    <DestinationDirectory>\\oma0pfil01.nationalresearch.com\PhoneVenders\DRG\uploads</DestinationDirectory>
    <BackupDirectory>\\oma0pfil01.nationalresearch.com\FileMoverArchive\DRG-Phone-Transfer</BackupDirectory>
    <UserName>lnkdmz\#dmzftpmover</UserName>
    <Password>x27vngA#hcI#A1k</Password>
    <MoveFiles>true</MoveFiles>
    <FileMatch></FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
  </DirectorySyncItem> --><!--
  <DirectorySyncTask>
    <Source>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\DRG-Phone-Transfer\uploads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Source>
    <Destination>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\PhoneVenders\DRG\uploads</Path>
      </Local>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\DRG-Phone-Transfer</Path>
      </Local>
    </Backup>
    <FileMatch>^\\[^\\]*$</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- <DirectorySyncItem>
    <SourceDirectory>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\Telematch-Phone-Transfer\uploads</SourceDirectory>
    <MountDriveLetter>T:</MountDriveLetter>
    <DestinationDirectory>\\oma0pfil01.nationalresearch.com\PhoneVenders\Telematch\uploads</DestinationDirectory>
    <BackupDirectory>\\oma0pfil01.nationalresearch.com\FileMoverArchive\Telematch</BackupDirectory>
    <UserName>lnkdmz\#dmzftpmover</UserName>
    <Password>x27vngA#hcI#A1k</Password>
    <MoveFiles>true</MoveFiles>
    <FileMatch></FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
  </DirectorySyncItem> --><!--
  <DirectorySyncTask>
    <Source>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\Telematch-Phone-Transfer\uploads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Source>
    <Destination>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\PhoneVenders\Telematch\uploads</Path>
      </Local>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\Telematch</Path>
      </Local>
    </Backup>
    <FileMatch>^\\[^\\]*$</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- <DirectorySyncItem>
    <SourceDirectory>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\WWatts-Phone-Transfer\uploads</SourceDirectory>
    <MountDriveLetter>T:</MountDriveLetter>
    <DestinationDirectory>\\oma0pfil01.nationalresearch.com\PhoneVenders\WWATTS\uploads</DestinationDirectory>
    <BackupDirectory>\\oma0pfil01.nationalresearch.com\FileMoverArchive\WWATTS</BackupDirectory>
    <UserName>lnkdmz\#dmzftpmover</UserName>
    <Password>x27vngA#hcI#A1k</Password>
    <MoveFiles>true</MoveFiles>
    <FileMatch></FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
  </DirectorySyncItem> --><!--
  <DirectorySyncTask>
    <Source>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\WWatts-Phone-Transfer\uploads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Source>
    <Destination>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\PhoneVenders\WWATTS\uploads</Path>
      </Local>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\WWATTS</Path>
      </Local>
    </Backup>
    <FileMatch>^\\[^\\]*$</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- <DirectorySyncItem>
    <SourceDirectory>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\usbank\uploads</SourceDirectory>
    <MountDriveLetter>L:</MountDriveLetter>
    <DestinationDirectory>\\oma0pfil01.nationalresearch.com\teams\Accounting\GL\USBank</DestinationDirectory>
    <BackupDirectory>\\oma0pfil01.nationalresearch.com\FileMoverArchive\USBank</BackupDirectory>
    <UserName>lnkdmz\#dmzftpmover</UserName>
    <Password>x27vngA#hcI#A1k</Password>
    <MoveFiles>true</MoveFiles>
    <FileMatch></FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
  </DirectorySyncItem> --><!--
  <DirectorySyncTask>
    <Source>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\usbank\uploads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Source>
    <Destination>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\Accounting\GL\USBank</Path>
      </Local>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\USBank</Path>
      </Local>
    </Backup>
    <FileMatch>^\\[^\\]*$</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- <DirectorySyncItem>
    <SourceDirectory>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\wellpoint\uploads</SourceDirectory>
    <MountDriveLetter>M:</MountDriveLetter>
    <DestinationDirectory>\\oma0pfil01.nationalresearch.com\teams\GHS\WellPoint_FTP</DestinationDirectory>
    <BackupDirectory>\\oma0pfil01.nationalresearch.com\FileMoverArchive\WellPoint</BackupDirectory>
    <UserName>lnkdmz\#dmzftpmover</UserName>
    <Password>x27vngA#hcI#A1k</Password>
    <MoveFiles>true</MoveFiles>
    <FileMatch></FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
  </DirectorySyncItem> --><!--
  <DirectorySyncTask>
    <Source>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\Wellpoint-File-Transfer\uploads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Source>
    <Destination>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\GHS\WellPoint_FTP</Path>
      </Local>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\WellPoint</Path>
      </Local>
    </Backup>
    <FileMatch>^\\[^\\]*$</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- <DirectorySyncItem>
    <SourceDirectory>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\phnps-File-Transfer\uploads</SourceDirectory>
    <MountDriveLetter>Y:</MountDriveLetter>
    <DestinationDirectory>\\oma0pfil01.nationalresearch.com\teams\GHS\PHN_FTP\Incoming</DestinationDirectory>
    <BackupDirectory>\\oma0pfil01.nationalresearch.com\FileMoverArchive\PHNPS</BackupDirectory>
    <UserName>lnkdmz\#dmzftpmover</UserName>
    <Password>x27vngA#hcI#A1k</Password>
    <MoveFiles>true</MoveFiles>
    <FileMatch></FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
  </DirectorySyncItem> --><!--
  <DirectorySyncTask>
    <Source>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\phnps-File-Transfer\uploads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Source>
    <Destination>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\GHS\PHN_FTP\Incoming</Path>
      </Local>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\PHNPS</Path>
      </Local>
    </Backup>
    <FileMatch>^\\[^\\]*$</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- PeaceHealth --><!--
  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\GHS\PHN_FTP\Incoming</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\PeaceHealth-FileTransfer\outgoing\PHPSATHOSP</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\nrc4\Team41\PeaceHealth\Extract\PHPSATHOSP\archive</Path>
      </Local>
    </Backup>
    <FileMatch>^\\[^\\]*$</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\nrc4\Team41\PeaceHealth\Extract\PHCLINICPSAT</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\PeaceHealth-FileTransfer\outgoing\PHCLINICPSAT</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\nrc4\Team41\PeaceHealth\Extract\PHCLINICPSAT\archive</Path>
      </Local>
    </Backup>
    <FileMatch>^(?!\\[aA]rchive).*</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\nrc4\Team41\PeaceHealth\Extract\PHDASHBOARD</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\PeaceHealth-FileTransfer\outgoing\PHDASHBOARD</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\nrc4\Team41\PeaceHealth\Extract\PHDASHBOARD\archive</Path>
      </Local>
    </Backup>
    <FileMatch>^\\[^\\]*$</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- Peacehealth Nightly --><!--
  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\nrc4\Team41\PeaceHealth\Extract\PHDASHBOARD\Extract2</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\PeaceHealth-FileTransfer\nightly</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\nrc4\Team41\PeaceHealth\Extract\PHDASHBOARD\archive\Extract2</Path>
      </Local>
    </Backup>
    <FileMatch>^\\[^\\]*$</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- JMMDHS --><!--
  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\nrc4\Team GHS\OUTBOUND_FTP\JMMDHS</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\jmmdhs-File-Transfer\downloads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\nrc4\Team GHS\OUTBOUND_FTP\JMMDHS\Processed</Path>
      </Local>
    </Backup>
    <FileMatch>^(?!\\Processed).*</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  <DirectorySyncTask>
    <Source>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\jmmdhs-File-Transfer\uploads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Source>
    <Destination>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\Nrc4\Holding\Adam\Logging</Path>
      </Local>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\jmmdhs</Path>
      </Local>
    </Backup>
    <FileMatch>^(?!\\Processed).*</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- PHN --><!--
  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\GHS\PHN_FTP\Outgoing</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\oma0zftp-s\FTPOneOff\phnps-File-Transfer\downloads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\GHS\PHN_FTP\Outgoing\Processed</Path>
      </Local>
    </Backup>
    <FileMatch>^(?!\\Processed).*</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>


  --><!-- Phone Venders --><!--
  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\PhoneVenders\DRG\finalized</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\DRG-Phone-Transfer\outbound</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\DRG-Phone-Transfer</Path>
      </Local>
    </Backup>
    <FileMatch>^\\[^\\]*$</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\PhoneVenders\Telematch\finalized</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\Telematch-Phone-Transfer\outbound</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\Telematch-Phone-Transfer</Path>
      </Local>
    </Backup>
    <FileMatch>^\\[^\\]*$</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\PhoneVenders\WWATTS\finalized</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\WWatts-Phone-Transfer\outbound</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\WWatts-Phone-Transfer</Path>
      </Local>
    </Backup>
    <FileMatch>^\\[^\\]*$</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\PhoneVenders\ISA\finalized</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\ISA-Phone-Transfer\outbound</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\ISA-Phone-Transfer</Path>
      </Local>
    </Backup>
    <FileMatch>^\\[^\\]*$</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- Novant --><!--
  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\nrc4\Team41\Novant\FTPOutboundFiles</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPUsers\Novant\downloads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\nrc4\Team41\Novant\FTPOutboundFiles\archive</Path>
      </Local>
    </Backup>
    <FileMatch>^(?!\\[aA]rchive).*</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- Scottsdale McKesson Extract --><!--
  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\Catalyst\McKesson\ScottsdaleHealthcare</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\ScottsdaleHealth\downloads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\Catalyst\McKesson\ScottsdaleHealthcare\archive</Path>
      </Local>
    </Backup>
    <FileMatch>^(?!\\[aA]rchive).*</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- Mississippi Baptist McKesson Extract --><!--
  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\Public\NRC Picker Reporting\Mississippi Baptist\McKesson Extract</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\MissBaptist\downloads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\Public\NRC Picker Reporting\Mississippi Baptist\McKesson Extract\archive</Path>
      </Local>
    </Backup>
    <FileMatch>^(?!\\[aA]rchive).*</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- Opelousas McKesson Extract --><!--
  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\Catalyst\McKesson\OpelousasGeneralHealthSystem</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\Opelousas\downloads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\Catalyst\McKesson\OpelousasGeneralHealthSystem\archive</Path>
      </Local>
    </Backup>
    <FileMatch>^(?!\\[aA]rchive).*</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- Adventist McKesson Extract --><!--
  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\Catalyst\McKesson\Adventist</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\Adventist\downloads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\Catalyst\McKesson\Adventist\archive</Path>
      </Local>
    </Backup>
    <FileMatch>^(?!\\[aA]rchive).*</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- Adventist Upload --><!--
  <DirectorySyncTask>
    <Source>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\Adventist\uploads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Source>
    <Destination>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\Nrc4\Holding\Adam\Logging</Path>
      </Local>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\Adventist</Path>
      </Local>
    </Backup>
    <FileMatch>^(?!\\[aA]rchive).*</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- Southern Maryland McKesson Extract --><!--
  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\Catalyst\McKesson\SouthernMaryland</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\SouthernMaryland\downloads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\Catalyst\McKesson\SouthernMaryland\archive</Path>
      </Local>
    </Backup>
    <FileMatch>^(?!\\[aA]rchive).*</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- Childrens Mercy McKesson Extract --><!--
  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\Catalyst\McKesson\ChildrensMercyHospitals_Clinics</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\ChildrensMercy\downloads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\Catalyst\McKesson\ChildrensMercyHospitals_Clinics\archive</Path>
      </Local>
    </Backup>
    <FileMatch>^(?!\\[aA]rchive).*</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- Central Florida McKesson Extract --><!--
  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\Catalyst\McKesson\CentralFloridaHealthAlliance</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\CentFLHealthAlliance\downloads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\Catalyst\McKesson\CentralFloridaHealthAlliance\archive</Path>
      </Local>
    </Backup>
    <FileMatch>^(?!\\[aA]rchive).*</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- Health Partners Montly Extract --><!--
  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\nrc4\Team46\HealthPartners\MonthlyExtract\Complete_ToSend</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPUsers\HealthPartners\downloads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\nrc4\Team46\HealthPartners\MonthlyExtract\archive</Path>
      </Local>
    </Backup>
    <Interval>
      <Delay>
        <Seconds>86400</Seconds>
      </Delay>
    </Interval>
    <FileMatch>^(?!\\[aA]rchive).*</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- STAMC File Transfer, Download then move --><!--
  --><!--<DirectorySyncTask>
    <Source>
		<FTP>
			<Server>ftp168.samcstl.com</Server>
			<UserName>nrc</UserName>
			<Password>NrC2010</Password>
			<Path>/download</Path>
			<Action>Overwrite</Action>
		</FTP>
    </Source>
    <Destination>
        <Local>
            <Path>\\oma0pfil01.nationalresearch.com\Nrc4\Holding\Adam\Logging</Path>
        </Local>
    </Destination>
    <Backup>
        <Local>
            <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\stamc</Path>
        </Local>
    </Backup>
	<Interval>
      <Delay>
        <Seconds>900</Seconds>
      </Delay>
    </Interval>
	<FileMatch>^\\[^\\]*$</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask> --><!--

  --><!-- Wellpoint File Transfer, Upload after move --><!--
  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\GHS\Wellpoint_FTP\Production\Outgoing</Path>
      </Local>
    </Source>
    <Destination>
      <FTP>
        <Server>ftpi.wellpoint.com</Server>
        <UserName>natrescorp</UserName>
        <Password>yEr63pR</Password>
        <Path>/</Path>
        <Action>Overwrite</Action>
      </FTP>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\wellpoint</Path>
      </Local>
    </Backup>
    <Interval>
      <Delay>
        <Seconds>10800</Seconds>
      </Delay>
    </Interval>
    <FileMatch>^\\[^\\]*$</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- SLEH File Transfer, Download then move --><!--
  <DirectorySyncTask>
    <Source>
      <SFTP>
        <Server>ftp.sleh.com</Server>
        <UserName>snrc01</UserName>
        <Password>nrcp122013</Password>
        <Path>/NRC</Path>
        <Action>Overwrite</Action>
      </SFTP>
    </Source>
    <Destination>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\Nrc4\Holding\Adam\Logging</Path>
      </Local>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\sleh</Path>
      </Local>
    </Backup>
    <Interval>
      <Delay>
        <Seconds>10800</Seconds>
      </Delay>
    </Interval>
    <FileMatch>^\\[^\\]*$</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- BlueCross BlueShield File Transfer, Download then move --><!--
  <DirectorySyncTask>
    <Source>
      <SFTP>
        <Server>208.60.147.148</Server>
        <UserName>ghs</UserName>
        <KeyFile>C:\NRC\SSHKeys\NRCPublic.priv</KeyFile>
        <Path>/BCBS</Path>
        <Action>Overwrite</Action>
      </SFTP>
    </Source>
    <Destination>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\GHS\BCBSSC_FTP\BCBS</Path>
      </Local>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\BCBS-BCBS</Path>
      </Local>
    </Backup>
    <Interval>
      <Delay>
        <Seconds>3600</Seconds>
      </Delay>
    </Interval>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- UCLA File Transfer, Download then move --><!--
  <DirectorySyncTask>
    <Source>
      <SFTP>
        <Server>149.142.214.25</Server>
        <UserName>ftp_nrc</UserName>
        <Password>ylgq94zH7t</Password>
        <Path>/nrc/from_ucla</Path>
        <Action>Overwrite</Action>
      </SFTP>
    </Source>
    <Destination>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\nrc4\Holding\Adam\logging</Path>
      </Local>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\UCLA</Path>
      </Local>
    </Backup>
    <Interval>
      <Delay>
        <Seconds>43200</Seconds>
      </Delay>
    </Interval>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- West Recordings Move --><!--
  <DirectorySyncTask>
    <Source>
      <UNC>
        <Path>\\oma0zftp-s.lnkdmz.com\ftponeoff\WestCorp\uploads\full</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Source>
    <Destination>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\PhoneRecordings\Full</Path>
      </Local>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\WestCorp\full</Path>
      </Local>
    </Backup>
    <Interval>
      <Delay>
        <Seconds>3600</Seconds>
      </Delay>
    </Interval>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>
  <DirectorySyncTask>
    <Source>
      <UNC>
        <Path>\\oma0zftp-s.lnkdmz.com\ftponeoff\WestCorp\uploads\partial</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Source>
    <Destination>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\PhoneRecordings\partial</Path>
      </Local>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\WestCorp\partial</Path>
      </Local>
    </Backup>
    <Interval>
      <Delay>
        <Seconds>3600</Seconds>
      </Delay>
    </Interval>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>
  <DirectorySyncTask>
    <Source>
      <UNC>
        <Path>\\oma0zftp-s.lnkdmz.com\ftponeoff\WestCorp\uploads\payers</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Source>
    <Destination>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\PhoneRecordings\payers</Path>
      </Local>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\WestCorp\payers</Path>
      </Local>
    </Backup>
    <Interval>
      <Delay>
        <Seconds>3600</Seconds>
      </Delay>
    </Interval>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- Englewood McKesson Extract --><!--
  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\nrc4\team45\Englewood\Extract</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\oma0zftp-s.lnkdmz.com\FTPUsers\EnglewoodFTP\downloads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\nrc4\team45\Englewood\Extract\Archive</Path>
      </Local>
    </Backup>
    <FileMatch>^(?!\\[aA]rchive).*</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- NRCC Scans File Move --><!--
  <DirectorySyncTask>
    <Source>
      <UNC>
        <Path>\\oma0zftp-s.lnkdmz.com\FTPOneOff\NRCC\Inbound</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Source>
    <Destination>
      <Local>
        <Path>\\argus.nationalresearch.com\production\NRCC Inbound\Scanned Comments</Path>
      </Local>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\NRCC\Inbound</Path>
      </Local>
    </Backup>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>
  <DirectorySyncTask>
    <Source>
      <UNC>
        <Path>\\oma0zftp-s.lnkdmz.com\FTPOneOff\NRCC\Scans</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Source>
    <Destination>
      <Local>
        <Path>\\argus.nationalresearch.com\production\NRCC Scans</Path>
      </Local>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\Scans</Path>
      </Local>
    </Backup>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- Lehigh Valley --><!--
  <DirectorySyncTask>
    <Source>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Source>
    <Destination>
      <UNC>
        <Path>\\oma0zftp-s.lnkdmz.com\FTPUsers\LehighValley\PhysiciansFiles</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\LehighValley\PhysiciansFiles</Path>
      </Local>
    </Backup>
    <Action>Overwrite</Action>
    <ToFlatLayout>true</ToFlatLayout>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
    <FileMatch>\\LVPHO_([^\\]*)\\uploads\\.+</FileMatch>
  </DirectorySyncTask>

  --><!-- McKesson - ChildernsHospital_OrangeCounty --><!--
  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\Teams\Catalyst\McKesson\ChildernsHospital_OrangeCounty</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\oma0zftp-s.lnkdmz.com\FTPUsers\ChildrensOC\downloads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\Teams\Catalyst\McKesson\ChildernsHospital_OrangeCounty\Archive</Path>
      </Local>
    </Backup>
    <FileMatch>^(?!\\[aA]rchive).*</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- Lakeview McKesson Extract --><!--
  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\Catalyst\McKesson\LakeviewHospital</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\oma0zftp-s.lnkdmz.com\FTPUsers\RegionsHospitalDSS\downloads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\Catalyst\McKesson\LakeviewHospital\archive</Path>
      </Local>
    </Backup>
    <FileMatch>^(?!\\[aA]rchive).*</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\Catalyst\McKesson\RegionsHospital_HealthPartners</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\oma0zftp-s.lnkdmz.com\FTPUsers\RegionsHospitalDSS\downloads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\Catalyst\McKesson\RegionsHospital_HealthPartners\archive</Path>
      </Local>
    </Backup>
    <FileMatch>^(?!\\[aA]rchive).*</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\Catalyst\McKesson\WestfieldsHospital</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\oma0zftp-s.lnkdmz.com\FTPUsers\RegionsHospitalDSS\downloads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\Catalyst\McKesson\WestfieldsHospital\archive</Path>
      </Local>
    </Backup>
    <FileMatch>^(?!\\[aA]rchive).*</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- IUHealth Extract --><!--
  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\nrc4\Team47\Clarian Health Partners\Analysis\MonthlyCatalystExtract\Complete to Send</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPUsers\IUHealth\downloads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\nrc4\Team47\Clarian Health Partners\Analysis\MonthlyCatalystExtract\Complete to Send\archive</Path>
      </Local>
    </Backup>
    <Interval>
      <Delay>
        <Seconds>43200</Seconds>
      </Delay>
    </Interval>
    <FileMatch>^(?!\\[aA]rchive).*</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- CarsonTahoeHealth McKesson Extract --><!--
  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\Teams\Catalyst\McKesson\CarsonTahoeHealth</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPUsers\CarsonTahoe\downloads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\Teams\Catalyst\McKesson\CarsonTahoeHealth\archive</Path>
      </Local>
    </Backup>
    <Interval>
      <Delay>
        <Seconds>43200</Seconds>
      </Delay>
    </Interval>
    <FileMatch>^(?!\\[aA]rchive).*</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- Phone Vender - Cicero --><!--
  <DirectorySyncTask>
    <Source>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\Cicero-Phone-Transfer\uploads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Source>
    <Destination>
      <Local>
        <Path>\\lnk0pfil01.nationalresearch.com\PhoneVenders\Cicero\uploads</Path>
      </Local>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\Cicero</Path>
      </Local>
    </Backup>
    <FileMatch>^\\[^\\]*$</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\PhoneVenders\Cicero\finalized</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\OMA0ZFTP-S.lnkdmz.com\FTPOneOff\Cicero-Phone-Transfer\outbound</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\FileMoverArchive\Cicero-Phone-Transfer</Path>
      </Local>
    </Backup>
    <FileMatch>^\\[^\\]*$</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- McKesson - Truman Medical Centers --><!--
  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\Teams\Catalyst\McKesson\TrumanMedicalCenters</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\oma0zftp-s.lnkdmz.com\FTPUsers\Truman\downloads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\Teams\Catalyst\McKesson\TrumanMedicalCenters\Archive</Path>
      </Local>
    </Backup>
    <FileMatch>^(?!\\[aA]rchive).*</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>

  --><!-- Intermountain Healthcare Weekly Automatic Extracts, INC0029642 --><!--
  <DirectorySyncTask>
    <Source>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\Public\NRC Picker Reporting\Intermountain Healthcare\Weekly Automatic Extracts_1132014</Path>
      </Local>
    </Source>
    <Destination>
      <UNC>
        <Path>\\oma0zftp-s.lnkdmz.com\FTPUsers\Intermountain\downloads</Path>
        <UserName>lnkdmz\#dmzftpmover</UserName>
        <Password>x27vngA#hcI#A1k</Password>
      </UNC>
    </Destination>
    <Backup>
      <Local>
        <Path>\\oma0pfil01.nationalresearch.com\teams\Public\NRC Picker Reporting\Intermountain Healthcare\Weekly Automatic Extracts_1132014\Archive</Path>
      </Local>
    </Backup>
    <FileMatch>^(?!\\[aA]rchive).*</FileMatch>
    <ToFlatLayout>true</ToFlatLayout>
    <Action>Overwrite</Action>
    <TimeStamp>_yyyy_MM_dd_HH_mm_ss</TimeStamp>
  </DirectorySyncTask>-->

</settings>
