<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="CEMConnection" connectionString="Data Source=LNK0TCATSQL01\CATDB2;Initial Catalog=NRC_DataMart;Persist Security Info=True;User ID=nrc;Password=nrc;MultipleActiveResultSets=True;" />
  </connectionStrings>
  <appSettings>
    <add key="SchedulerCron" value="0 0 1 1/1 * ? *"/>
    <add key="FileLocation" value="C:\Users\tbutler\Documents\"/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="c:\temp\Nlog_log.txt" internalLogLevel="Trace">
    <variable name="appTitle" value="CEM.FileMaker_Service" />
    <variable name="logFilePath" value="C:\NRC\Logs\${appTitle}\${shortdate}.log" />

    <targets async="true">
      <target name="file"
              xsi:type="File"
              fileName="${logFilePath}"
              layout="${longdate} ${level:upperCase=true}: ${message} ${onexception:${newline}${exception:format=ToString}}"
              archiveEvery="Day"
              archiveAboveSize="5242880"
              maxArchiveFiles="50"
              archiveNumbering="Rolling"
              archiveFileName="C:\NRC\Logs\${appTitle}\${shortdate}.{##}.log"
              />
      <target
        xsi:type="EventLog"
        name="eventLog"
        source="${appTitle}"
        layout="${message}${newline}${exception:format=ToString}"
        />
      <target xsi:type="Debugger" name="debugger" layout="${callsite:className=true:methodName=true}, ${message}" />
      <target xsi:type="Console" name="console" layout="${callsite:className=true:methodName=true}, ${message}" />
      <target name="database" xsi:type="Database" keepConnection="true" useTransactions="true"
             dbProvider="System.Data.SqlClient"      
             connectionString="Data Source=LNK0TCATSQL01\CATDB2;Initial Catalog=NRC_DataMart;Persist Security Info=True;User ID=nrc;Password=nrc;MultipleActiveResultSets=True;"
             commandText="INSERT INTO [CEM].Logs(EventDateTime, EventLevel, UserName, MachineName, EventType, EventMessage, EventSource, EventClass, EventMethod, ErrorMessage) VALUES (@EventDateTime, @EventLevel, @UserName, @MachineName, @EventType, @EventMessage, @EventSource, @EventClass, @EventMethod, @ErrorMessage)">
        <!-- parameters for the command -->
        <parameter name="@EventDateTime" layout="${date:s}" />
        <parameter name="@EventLevel" layout="${level}" />
        <parameter name="@UserName" layout="" />
        <parameter name="@MachineName" layout="${machinename}" />
        <parameter name="@EventType" layout="${event-context:item=event-type}" />
        <parameter name="@EventMessage" layout="${message}" />
        <parameter name="@EventSource" layout="${event-context:item=event-source}" />
        <parameter name="@EventClass" layout="${event-context:item=event-class}" />
        <parameter name="@EventMethod" layout="${event-context:item=event-method}" />
        <parameter name="@ErrorMessage" layout="${onexception:${newline}${exception:format=ToString}}" />
      </target>  
    </targets>

    <rules>
      <logger name="*" levels="Fatal,Error,Warn,Info" writeTo="file" />
      <logger name="*" levels="Fatal,Error" writeTo="eventlog" />
      <logger name="*" levels="Fatal,Error,Warn,Info,Debug" writeTo="debugger" />
      <logger name="*" levels="Fatal,Error,Warn,Info" writeTo="console" />
      <logger name="*" levels="Fatal,Error,Warn,Info" writeTo="database" />
    </rules>
  </nlog>
</configuration>