/****** Object:  StoredProcedure [dbo].[Triggers_pn]    Script Date: 08/09/2006 12:54:59 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[Triggers_pn]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[Triggers_pn]
GO
/****** Object:  StoredProcedure [dbo].[Triggers_pn]    Script Date: 08/09/2006 12:54:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[Triggers_pn]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE procedure Triggers_pn(@mode int) /*
Mode for journalled table setups:
 0 - full, 1 - incremental , 2 - delete from old system, 
3 - force direct copy , 4 - verify, 5 - verify journal



Basically,  we do type 0 when we are doing a fresh flush,  or we are moving the data
and basically,  we do 1 when we are flushing.  We can do a mode 3 if the base tables are out of whack
and we want to fix it regardless of the journal records.

4 will show all differences between the production tables,  and 5 will show the difference between the journalled tables.


Table:       Triggers
Source:      goliath.qms.dbo
Destination: 
 */
as
begin

set nocount off
print ''vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv''
print ''           Triggers''


declare @jn_operation varchar(1)
declare @jn_user varchar(100)
declare @jn_datetime datetime
declare @jn_endtime datetime 
declare @jn_notes varchar(240)
declare @jn_appln varchar(30)
declare @jn_session smallint
declare @TriggerID int
declare @TriggerTypeID int
declare @SurveyID int
declare @TriggerName varchar(100)
declare @CriteriaID int
declare @TheCode varchar(8000)
declare @PerodicyDate datetime
declare @PerodicyNextDate datetime

	declare @jn_mindate datetime
	declare @jn_maxdate datetime
	declare @jn_loop_count int
	
	
	if ((@mode =0) or (@mode = 1))
	  begin
	  set nocount on
		if (@mode = 1) 
		  begin
		  /* This mindate will not look at the production server
		  The other mindate will */
		  select @jn_mindate = isnull(dateadd(hour,-1,max(jn_datetime)),''10-jun-1970'')
		  from Triggers_jn
		  if @jn_mindate > dateadd(hour,-1,getdate())
			begin
			set @jn_mindate = dateadd(hour,-1,getdate())
			end
	  end
		else
		  begin
		  select @jn_mindate = isnull(min(jn_datetime),''10-jun-2500'')
		  from goliath.qms.dbo.Triggers_jn
		  end
		
		print ''mindate is '' + convert(varchar(20),@jn_mindate)
	
declare read_main cursor for
select jn_operation,jn_user,jn_datetime,jn_endtime,jn_notes,jn_appln,jn_session,
 [TriggerID]
,[TriggerTypeID]
,[SurveyID]
,[TriggerName]
,[CriteriaID]
,[TheCode]
,[PerodicyDate]
,[PerodicyNextDate]
from goliath.qms.dbo.Triggers_jl where jn_datetime >= @jn_mindate
open read_main
set @jn_loop_count=0

fetch read_main into @jn_operation,@jn_user,@jn_datetime,@jn_endtime,@jn_notes,@jn_appln,@jn_session,
 @TriggerID
,@TriggerTypeID
,@SurveyID
,@TriggerName
,@CriteriaID
,@TheCode
,@PerodicyDate
,@PerodicyNextDate
while @@fetch_status=0
  begin

if (@jn_loop_count % 100) = 0
  begin
  print ''Triggers_jn '' + convert(varchar(10),@jn_loop_count) + '' '' 
    + convert(varchar(100),@jn_datetime)
  end
set @jn_loop_count = @jn_loop_count + 1

	
		/* replace existing Triggers_jn */
		delete 
		from Triggers_jn
		where 
[TriggerID] = @TriggerID
           and jn_datetime = @jn_datetime
	
	

		/* now update the prior end date */
		update a
		set jn_endtime= (select min(jn_datetime)
           		from (select jn_datetime from Triggers_jn b
			where 
     a.[TriggerID]= b.[TriggerID]
 and a.jn_datetime <= b.jn_datetime 
union all select @jn_datetime where @jn_datetime >= a.jn_datetime) c )
from Triggers_jn a
where
a.[TriggerID] = @TriggerID
/*and a.jn_endtime> @jn_datetime*/ 
		

		
	
	
	
	
	
	

/* now see if this journal record is the latest and greatest.
*/

select  @jn_endtime = min(@jn_datetime) from Triggers_jn 
where 
[TriggerID] = @TriggerID
 and jn_datetime > @jn_datetime
if @jn_endtime is null
begin
set @jn_endtime = CAST(''2500-12-27 12:00:00.000''
  AS datetime)


	if @jn_operation = ''D''
	begin
		delete from Triggers
		where 
[TriggerID] = @TriggerID
end
else
begin
	
			update Triggers
			set 
   [TriggerTypeID]= @TriggerTypeID
,  [SurveyID]= @SurveyID
,  [TriggerName]= @TriggerName
,  [CriteriaID]= @CriteriaID
,  [TheCode]= @TheCode
,  [PerodicyDate]= @PerodicyDate
,  [PerodicyNextDate]= @PerodicyNextDate
		where 
[TriggerID] = @TriggerID

		
		
		
		

		
		insert into Triggers (
 [TriggerID]
,[TriggerTypeID]
,[SurveyID]
,[TriggerName]
,[CriteriaID]
,[TheCode]
,[PerodicyDate]
,[PerodicyNextDate]
)
		select 
 @TriggerID
,@TriggerTypeID
,@SurveyID
,@TriggerName
,@CriteriaID
,@TheCode
,@PerodicyDate
,@PerodicyNextDate
where not exists (Select ''x'' from Triggers where 
[TriggerID] = @TriggerID
)



end


end /* if we are the most recent record,  and therefore have to update the base tables */
	
	insert into Triggers_jn(jn_operation,jn_user,jn_datetime,jn_endtime,jn_notes,jn_appln,jn_session,
 [TriggerID]
,[TriggerTypeID]
,[SurveyID]
,[TriggerName]
,[CriteriaID]
,[TheCode]
,[PerodicyDate]
,[PerodicyNextDate]
)
values (
@jn_operation,@jn_user,@jn_datetime,@jn_endtime,@jn_notes,@jn_appln,@jn_session,
 @TriggerID
,@TriggerTypeID
,@SurveyID
,@TriggerName
,@CriteriaID
,@TheCode
,@PerodicyDate
,@PerodicyNextDate
)

fetch read_main into @jn_operation,@jn_user,@jn_datetime,@jn_endtime,@jn_notes,@jn_appln,@jn_session,
 @TriggerID
,@TriggerTypeID
,@SurveyID
,@TriggerName
,@CriteriaID
,@TheCode
,@PerodicyDate
,@PerodicyNextDate

end
close read_main
deallocate read_main

  print ''Triggers_jn DONE with '' + convert(varchar(10),@jn_loop_count) + '' last date  '' 
    + convert(varchar(100),@jn_datetime)
		
		end
	else if (@mode = 2)
		begin
	
	
	

		select @jn_mindate = isnull(min(jn_datetime),''10-jun-2500'')
		from goliath.qms.dbo.Triggers_jn
		
		select @jn_maxdate = isnull(max(jn_datetime),''10-jun-1970'')
		from Triggers_jn
		
		
		print ''mindate is '' + convert(varchar(20),@jn_mindate)
		print ''maxdate is '' + convert(varchar(20),@jn_maxdate)
		
		print ''deleting from production''
		/* If the row is in both tables,  we can delete it */
		delete a
		from goliath.qms.dbo.Triggers_jn  a,
		Triggers_jn  b
		where a.jn_datetime >= @jn_mindate
		and a.jn_datetime < @jn_maxdate
		and b.jn_datetime >= @jn_mindate
		and b.jn_datetime < @jn_maxdate
		and a.jn_datetime = b.jn_datetime
	        and 
     a.[TriggerID]= b.[TriggerID]
end
else if (@mode = 3)
begin
print ''doing a sync of the base tables and ignoring the journalls:''

print ''Step 1: sync deletes''



delete a
from Triggers a
where not exists (
select ''x''
from goliath.qms.dbo.Triggers b
where 
     a.[TriggerID]= b.[TriggerID]
)





print '' step 2: update ''

	update f 
	set 
   f.[TriggerTypeID]= a.[TriggerTypeID]
,  f.[SurveyID]= a.[SurveyID]
,  f.[TriggerName]= a.[TriggerName]
,  f.[CriteriaID]= a.[CriteriaID]
,  f.[TheCode]= a.[TheCode]
,  f.[PerodicyDate]= a.[PerodicyDate]
,  f.[PerodicyNextDate]= a.[PerodicyNextDate]
 from Triggers f,goliath.qms.dbo.Triggers a
	where 
     a.[TriggerID]= f.[TriggerID]
and (
   a.[TriggerTypeID] != f.[TriggerTypeID]
or (a.[SurveyID]  is null and f.[SurveyID] is not null) or (a.[SurveyID]  is not null and f.[SurveyID] is null) or  (a.[SurveyID] != f.[SurveyID])
or (a.[TriggerName]  is null and f.[TriggerName] is not null) or (a.[TriggerName]  is not null and f.[TriggerName] is null) or  (a.[TriggerName] != f.[TriggerName])
or (a.[CriteriaID]  is null and f.[CriteriaID] is not null) or (a.[CriteriaID]  is not null and f.[CriteriaID] is null) or  (a.[CriteriaID] != f.[CriteriaID])
or (a.[TheCode]  is null and f.[TheCode] is not null) or (a.[TheCode]  is not null and f.[TheCode] is null) or  (a.[TheCode] != f.[TheCode])
or (a.[PerodicyDate]  is null and f.[PerodicyDate] is not null) or (a.[PerodicyDate]  is not null and f.[PerodicyDate] is null) or  (a.[PerodicyDate] != f.[PerodicyDate])
or (a.[PerodicyNextDate]  is null and f.[PerodicyNextDate] is not null) or (a.[PerodicyNextDate]  is not null and f.[PerodicyNextDate] is null) or  (a.[PerodicyNextDate] != f.[PerodicyNextDate])
)
	
	
	

print '' Step 3: insert''
insert into Triggers(
 [TriggerID]
,[TriggerTypeID]
,[SurveyID]
,[TriggerName]
,[CriteriaID]
,[TheCode]
,[PerodicyDate]
,[PerodicyNextDate]
)
select 
 a.[TriggerID]
,a.[TriggerTypeID]
,a.[SurveyID]
,a.[TriggerName]
,a.[CriteriaID]
,a.[TheCode]
,a.[PerodicyDate]
,a.[PerodicyNextDate]
 from goliath.qms.dbo.Triggers a
where not exists (select ''x''
from  Triggers b
 where 
     a.[TriggerID]= b.[TriggerID]

)
end
else if (@mode = 4)
begin
print ''doing a verify of the base tables:''

print ''Step 1: sync deletes''



select ''D'' actiontotake,a.*
from Triggers a
where not exists (
select ''x''
from goliath.qms.dbo.Triggers b
where 
     a.[TriggerID]= b.[TriggerID]
)





print '' step 2: update ''

	select ''U'' actiontotake,f.*,a.*
 from Triggers f,goliath.qms.dbo.Triggers a
	where 
     a.[TriggerID]= f.[TriggerID]
and (
   a.[TriggerTypeID] != f.[TriggerTypeID]
or (a.[SurveyID]  is null and f.[SurveyID] is not null) or (a.[SurveyID]  is not null and f.[SurveyID] is null) or  (a.[SurveyID] != f.[SurveyID])
or (a.[TriggerName]  is null and f.[TriggerName] is not null) or (a.[TriggerName]  is not null and f.[TriggerName] is null) or  (a.[TriggerName] != f.[TriggerName])
or (a.[CriteriaID]  is null and f.[CriteriaID] is not null) or (a.[CriteriaID]  is not null and f.[CriteriaID] is null) or  (a.[CriteriaID] != f.[CriteriaID])
or (a.[TheCode]  is null and f.[TheCode] is not null) or (a.[TheCode]  is not null and f.[TheCode] is null) or  (a.[TheCode] != f.[TheCode])
or (a.[PerodicyDate]  is null and f.[PerodicyDate] is not null) or (a.[PerodicyDate]  is not null and f.[PerodicyDate] is null) or  (a.[PerodicyDate] != f.[PerodicyDate])
or (a.[PerodicyNextDate]  is null and f.[PerodicyNextDate] is not null) or (a.[PerodicyNextDate]  is not null and f.[PerodicyNextDate] is null) or  (a.[PerodicyNextDate] != f.[PerodicyNextDate])
)
	
	
	

print '' Step 3: insert''
select ''I'' actiontotake,*
 from goliath.qms.dbo.Triggers a
where not exists (select ''x''
from  Triggers b
 where 
     a.[TriggerID]= b.[TriggerID]
)
end
else if (@mode = 5)
begin
print ''doing a verify of the journal tables:''

print ''Step 1: sync deletes''



select ''D'' actiontotake,a.*
from Triggers_jn a
where not exists (
select ''x''
from goliath.qms.dbo.Triggers_jn b
where 
     a.[TriggerID]= b.[TriggerID]
and a.jn_datetime = b.jn_datetime)





print '' step 2: update ''

	select ''U'' actiontotake,f.*,a.*
 from Triggers_jn f,goliath.qms.dbo.Triggers_jn a
	where 
     a.[TriggerID]= f.[TriggerID]
and a.jn_datetime = f.jn_datetime and (
   a.[TriggerTypeID] != f.[TriggerTypeID]
or (a.[SurveyID]  is null and f.[SurveyID] is not null) or (a.[SurveyID]  is not null and f.[SurveyID] is null) or  (a.[SurveyID] != f.[SurveyID])
or (a.[TriggerName]  is null and f.[TriggerName] is not null) or (a.[TriggerName]  is not null and f.[TriggerName] is null) or  (a.[TriggerName] != f.[TriggerName])
or (a.[CriteriaID]  is null and f.[CriteriaID] is not null) or (a.[CriteriaID]  is not null and f.[CriteriaID] is null) or  (a.[CriteriaID] != f.[CriteriaID])
or (a.[TheCode]  is null and f.[TheCode] is not null) or (a.[TheCode]  is not null and f.[TheCode] is null) or  (a.[TheCode] != f.[TheCode])
or (a.[PerodicyDate]  is null and f.[PerodicyDate] is not null) or (a.[PerodicyDate]  is not null and f.[PerodicyDate] is null) or  (a.[PerodicyDate] != f.[PerodicyDate])
or (a.[PerodicyNextDate]  is null and f.[PerodicyNextDate] is not null) or (a.[PerodicyNextDate]  is not null and f.[PerodicyNextDate] is null) or  (a.[PerodicyNextDate] != f.[PerodicyNextDate])
 and
 f.jn_datetime != a.jn_datetime
)
	
	
	

print '' Step 3: insert''
select ''I'' actiontotake,*
 from goliath.qms.dbo.Triggers_jn a
where not exists (select ''x''
from  Triggers_jn b
 where 
     a.[TriggerID]= b.[TriggerID]
 and a.jn_datetime = b.jn_datetime)
end
else 
begin
print '' Bogus mode!!!''
end

print ''           Triggers done''
print ''^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^




''

end


' 
END
GO
