/*
	S44 US12 CG-CAHPS Completeness 
	As a CG-CAHPS vendor, we need to update completeness calculations for CG-CAHPS to match new guidelines, so that we can submit accurate data for state-level initiatives.

	Task 2 - Update SurveyTypeQuestionMappings table on QP_Prod

	T. Butler	
*/

USE QP_PROD
GO

DECLARE @Surveytype_id int
DECLARE @Subtype_id int


SELECT @Surveytype_id = SurveyType_id
from SurveyType
WHERE SurveyType_dsc = 'CGCAHPS'


-- Create a table for holding Old SurveyTypeQuestionMapping records
if not exists (	SELECT 1 
				FROM   sys.tables st 
					   INNER JOIN sys.columns sc ON st.object_id = sc.object_id 
				WHERE  st.schema_id = 1 
					   AND st.NAME = 'SurveyTypeQuestionMappings_Old')
begin

CREATE TABLE [dbo].[SurveyTypeQuestionMappings_Old](
	[SurveyType_id] [int] NOT NULL,
	[QstnCore] [int] NOT NULL,
	[intOrder] [int] NULL,
	[bitFirstOnForm] [bit] NULL,
	[bitExpanded] [bit] NOT NULL DEFAULT ((0)),
	[datEncounterStart_dt] [datetime] NULL,
	[datEncounterEnd_dt] [datetime] NULL,
	[SubType_ID] [int] NOT NULL,
	[isATA] [bit] NULL,
	[isMeasure] [bit] NULL,
	[ModifiedDate] [datetime] NULL,
	[Comment] varchar(100))

end

-- Store off the current CGCAHPS SurveyType
if not exists (select 1 from dbo.SurveyTypeQuestionMappings_Old where [Comment] = 'S44 US12')
	INSERT INTO dbo.SurveyTypeQuestionMappings_Old
	SELECT *,GETDATE(),'S44 US12'
	FROM [dbo].[SurveyTypeQuestionMappings]
	WHERE  SurveyType_id = @Surveytype_id


begin tran

--1
select @Subtype_id = Subtype_Id
from Subtype
where Subtype_nm = '6-month Adult 2.0'

Delete from [dbo].[SurveyTypeQuestionMappings]
where [SurveyType_id] = @Surveytype_id
and [SubType_id] = @Subtype_id 

INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id],[IsATA],[IsMeasure])VALUES(@SurveyType_ID,50344,1,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,0)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id],[IsATA],[IsMeasure])VALUES(@SurveyType_ID,50176,2,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,0)
INSERT INTO [dbo].[SurveyTypeQuestionMappings]([SurveyType_id],[QstnCore],[intOrder],[bitFirstOnForm],[bitExpanded],[datEncounterStart_dt],[datEncounterEnd_dt], [SubType_Id],[IsATA],[IsMeasure])VALUES(@SurveyType_ID,50177,3,1,0,'1900-01-01 00:00:00.000','2999-12-31 00:00:00.000',@Subtype_id,1,0)


--2
select @Subtype_id = Subtype_Id
from Subtype
where Subtype_nm = '6-month Adult 3.0'

Delete from [dbo].[SurveyTypeQuestionMappings]
where [SurveyType_id] = @Surveytype_id
and [SubType_id] = @Subtype_id 



--3
select @Subtype_id = Subtype_Id
from Subtype
where Subtype_nm = '6-month Child 3.0'

Delete from [dbo].[SurveyTypeQuestionMappings]
where [SurveyType_id] = @Surveytype_id
and [SubType_id] = @Subtype_id 



--4
select @Subtype_id = Subtype_Id
from Subtype
where Subtype_nm = '12-month Adult 2.0'

Delete from [dbo].[SurveyTypeQuestionMappings]
where [SurveyType_id] = @Surveytype_id
and [SubType_id] = @Subtype_id 




--5
select @Subtype_id = Subtype_Id
from Subtype
where Subtype_nm = 'Visit Adult 2.0'

Delete from [dbo].[SurveyTypeQuestionMappings]
where [SurveyType_id] = @Surveytype_id
and [SubType_id] = @Subtype_id 



--6
select @Subtype_id = Subtype_Id
from Subtype
where Subtype_nm = '6-month Adult 2.0 w/ PCMH'

Delete from [dbo].[SurveyTypeQuestionMappings]
where [SurveyType_id] = @Surveytype_id
and [SubType_id] = @Subtype_id 



--7
select @Subtype_id = Subtype_Id
from Subtype
where Subtype_nm = '12-month Adult 2.0 w/ PCMH'

Delete from [dbo].[SurveyTypeQuestionMappings]
where [SurveyType_id] = @Surveytype_id
and [SubType_id] = @Subtype_id 




--8
select @Subtype_id = Subtype_Id
from Subtype
where Subtype_nm = '12-month Child 2.0 w/ PCMH'

Delete from [dbo].[SurveyTypeQuestionMappings]
where [SurveyType_id] = @Surveytype_id
and [SubType_id] = @Subtype_id 



--9
select @Subtype_id = Subtype_Id
from Subtype
where Subtype_nm = '6-month Child 2.0'

Delete from [dbo].[SurveyTypeQuestionMappings]
where [SurveyType_id] = @Surveytype_id
and [SubType_id] = @Subtype_id 





--10
select @Subtype_id = Subtype_Id
from Subtype
where Subtype_nm = '6-month Child 2.0 w/ PCMH'

Delete from [dbo].[SurveyTypeQuestionMappings]
where [SurveyType_id] = @Surveytype_id
and [SubType_id] = @Subtype_id 



--11
select @Subtype_id = Subtype_Id
from Subtype
where Subtype_nm = '12-month Child 2.0'

Delete from [dbo].[SurveyTypeQuestionMappings]
where [SurveyType_id] = @Surveytype_id
and [SubType_id] = @Subtype_id 



commit tran


SELECT st.Subtype_nm, stqm.* 
FROM [dbo].[SurveyTypeQuestionMappings] stqm
inner join dbo.Subtype st on st.Subtype_id = stqm.SubType_ID
WHERE  SurveyType_id = 4
order by stqm.Subtype_id, intOrder

