<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <QP_DataLoadConnectionString>Server=TiQualSQL04;Database=QP_DataLoad;Trusted_Connection=TRUE;</QP_DataLoadConnectionString>

  <UploadFailureDirectory>C:\NEPTUNE_FS\OCS\UploadFailure</UploadFailureDirectory>
  <AbandonedUploadsDirectory>C:\NEPTUNE_FS\OCS\AbandonedUploads</AbandonedUploadsDirectory>

</settings>
