<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="EnvironmentSettings" type="PS.Framework.Configuration.EnvironmentSettings,PS.Framework"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MailMergeServiceTester.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <EnvironmentSettings useDomainDiscovery="false" selectedEnvironment="Production">
    <GlobalSettings>
      <Setting name="SqlTimeout" value="600" isEncrypted="false" />
      <!--<Setting name="EmailFrom" value="nrcsrv@nationalresearch.com" isEncrypted="false" />-->
      <Setting name="EmailFrom" value="tpiccoli@nationalresearch.com" isEncrypted="false" />
      <Setting name="EmailTo" value="tpiccoli@nationalresearch.com|panderson@nationalresearch.com|jkubick@nationalresearch.com|jcintani@nationalresearch.com|twatkins@nationalresearch.com" isEncrypted="false" />
      <Setting name="RecordsPerSubJob" value="200" isEncrypted="false" />
      <Setting name="ApplicationName" value="Survey Merge Service" isEncrypted="false" />
      <Setting name="Printer" value="IBM Network Printer 24 PS" isEncrypted="false" />      
    </GlobalSettings>
    <Environments>
      <Environment name="Test">
        <Settings>
          <Setting name="NrcAuthConnection" isEncrypted="false" value="Data Source=Batman,5678;UID=qpsa;PWD=qpsa;Initial Catalog=NRCAuth;" />
          <Setting name="QMSConnection" isEncrypted="false" value="Data Source=Test_QMS_DB;UID=qmswebuser;PWD=Welcome1;Initial Catalog=QMS;" />
          <Setting name="SurveyAdminConnection" isEncrypted="false" value="Data Source=Test_QMS_DB;UID=SurveyAdminUser;PWD=Welcome1;Initial Catalog=SurveyAdministration;" />
          <Setting name="SmtpServer" isEncrypted="false" value="smtp2.nationalresearch.com" />          
          <Setting name="MergePath" isEncrypted="false" value="\\neptune\nrc4\Team GHS\SurveyMerge\Test" />
          <Setting name="PrintPath" isEncrypted="false" value="\\neptune\nrc4\Team GHS\SurveyMerge\Test\PrintFiles" />
          <Setting name="TempMergePath" isEncrypted="false" value="C:\SurveyMerge\MergeData" />
          <Setting name="TempDocPath" isEncrypted="false" value="C:\SurveyMerge\DocData" />
          <Setting name="TempPrintPath" isEncrypted="false" value="C:\SurveyMerge\PrintData" />
        </Settings>
      </Environment>
      <Environment name="Stage">
        <Settings>
          <Setting name="NrcAuthConnection" isEncrypted="true" value="DO3tvHPYYDDt/PZdQu6hZG3W+1RyJqxSd1wsJtLiiNjVq7LPva+DeT3H2d0gYPv/IWxyx5ur04dqfn6b7rmNwQ==" />
          <Setting name="QMSConnection" isEncrypted="true" value="DO3tvHPYYDBTzuCSF8595vjLe49HqMYQ77DxKKqM5u1EQUf5f0jsZYMc2m4ByHIrjkT/BUdsmhlkzbuuwDvnvvFPqylxGoBx" />
          <Setting name="SurveyAdminConnection" isEncrypted="false" value="Data Source=Test_QMS_DB;UID=SurveyAdminUser;PWD=Welcome1;Initial Catalog=SurveyAdministration;" />
          <Setting name="SmtpServer" isEncrypted="false" value="smtp2.nationalresearch.com" />          
          <Setting name="MergePath" isEncrypted="false" value="\\neptune\nrc4\Team GHS\SurveyMerge\Stage" />
          <Setting name="PrintPath" isEncrypted="false" value="\\neptune\nrc4\Team GHS\SurveyMerge\Stage\PrintFiles" />
          <Setting name="TempMergePath" isEncrypted="false" value="C:\SurveyMerge\MergeData" />
          <Setting name="TempDocPath" isEncrypted="false" value="C:\SurveyMerge\DocData" />
          <Setting name="TempPrintPath" isEncrypted="false" value="C:\SurveyMerge\PrintData" />
        </Settings>
      </Environment>
      <Environment name="Production">
        <Settings>
          <Setting name="NrcAuthConnection" isEncrypted="true" value="DO3tvHPYYDAZVgZpqOVehTQIe1k7CAiWp4p/GHqb8GyoP+ybu/8C2IcJtffaQYwQzNvGw1vQH8/MQdujcVe2eg==" />
          <Setting name="QMSConnection" isEncrypted="false" value="Data Source=Aries;UID=QMSDBO;PWD=Welcome1;Initial Catalog=QMS" />
          <Setting name="SurveyAdminConnection" isEncrypted="false" value="Data Source=Aries;UID=SurveyAdminWriter;PWD=Welcome1;Initial Catalog=SurveyAdministration;" />
          <Setting name="SmtpServer" isEncrypted="false" value="smtp2.nationalresearch.com" />
          <Setting name="MergePath" isEncrypted="false" value="\\neptune\nrc4\Team GHS\SurveyMerge\Prod" />
          <Setting name="PrintPath" isEncrypted="false" value="\\argus\Production\NRCPrint\SurveyMerge Print" />
          <Setting name="TempMergePath" isEncrypted="false" value="C:\SurveyMerge\MergeData" />
          <Setting name="TempDocPath" isEncrypted="false" value="C:\SurveyMerge\DocData" />
          <Setting name="TempPrintPath" isEncrypted="false" value="C:\SurveyMerge\PrintData" />
          <!--<Setting name="PrintPath" isEncrypted="false" value="C:\Temp" />-->
        </Settings>
      </Environment>
    </Environments>
  </EnvironmentSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <MailMergeServiceTester.My.MySettings>
      <setting name="MainFormWindowState" serializeAs="String">
        <value>Maximized</value>
      </setting>
      <setting name="MainFormSize" serializeAs="String">
        <value>600, 400</value>
      </setting>
      <setting name="MainFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MainFormSplitterLocation" serializeAs="String">
        <value>218</value>
      </setting>
    </MailMergeServiceTester.My.MySettings>    
  </userSettings>
</configuration>
