<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="Restarter"
      type="PdfGenMonitor.RestarterSection, PdfGenMonitor"
      allowDefinition="Everywhere"
      allowExeDefinition="MachineToApplication"
      restartOnExternalChanges="true"
    />
  </configSections>
  <connectionStrings>
    <add name="PdfGenMonitor.Properties.Settings.QP_CommentsConnectionString"
      connectionString="Data Source=longhorn.stagenrcus.nationalresearch.com;Initial Catalog=QP_Comments;Persist Security Info=True;User ID=PdfGenMonitor;Password=n3gFDPmon"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <Restarter
      monitoredLogFilePath="C:\PDFGen\PDFGen.log"
      maxLogFileAgeAllowed="900"
      terminatedProcessName="PDFGen"
      restartedApplicationPath="C:\PDFGen\PDFGen.exe"
      logFileDestinationPath="C:\PDFGenMonitor\Logs"
  />
</configuration>