<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section 
      name="Restarter" 
      type="PdfGenMonitor.RestarterSection, PdfGenMonitor" 
      allowDefinition="Everywhere" 
      allowExeDefinition="MachineToApplication" 
      restartOnExternalChanges="true" 
    />
  </configSections>
  <Restarter 
      monitoredLogFilePath="C:\PDFGen\PDFGen.log"
      maxLogFileAgeAllowed="900"
      terminatedProcessName="PDFGen"
      restartedApplicationPath="C:\PDFGen\PDFGen.exe"
      logFileDestinationPath="C:\PDFGenMonitor\Logs"
  />
</configuration>