<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Nrc.Framework.Configuration">
      <section name="environmentSettings" type="Nrc.Framework.Configuration.EnvironmentSettingsSectionHandler, Nrc.Framework"/>
    </sectionGroup>
  </configSections>
  <Nrc.Framework.Configuration>
    <environmentSettings currentEnvironment="Production">
      <globalSetting name="SqlTimeout" value="3600"/>
      <environment name="Production" type="Production">
        <setting name="QP_LoadConnection" description="Mars" isEncrypted="true" value="DO3tvHPYYDDOCLlCH7BytVPyxq451davA2pn3UKUc63j7u0MP0IZQ1bkRZfcf7yB+JTmVyEqwJeaDfwnRmbYLufL1CEBY9gZ2oxMmXJ+KtILF1jUTG172Q=="/>
        <setting name="NrcAuthConnection" description="Mercury" isEncrypted="true" value="DO3tvHPYYDAZVgZpqOVehTQIe1k7CAiWp4p/GHqb8GyoP+ybu/8C2IcJtffaQYwQzNvGw1vQH8/MQdujcVe2eg=="/>
        <setting name="TimerInterval" value="10000"/>
        <setting name="SMTPServer" value="smtp2.nationalresearch.com"/>
        <setting name="DataStorePath" value="\\neptune\nrc4\QLoader\Prod"/>
        <setting name="RunDTSExecutions" value="true"/>
        <setting name="MaxConcurrentLoads" value="2"/>
        <setting name="RunAddressCleaning" value="true"/>
        <setting name="MaxConcurrentCleaning" value="2"/>
        <setting name="RunValidationReports" value="true"/>
        <setting name="MaxConcurrentValidations" value="3"/>
        <setting name="RunApplies" value="true"/>
        <setting name="MaxConcurrentApplies" value="3"/>
        <setting name="ReportServer" value="http://corp/ReportServer?/DataLoadingReports/Prod/"/>
        <setting name="ValidationReport" value="ValidationReports"/>
        <setting name="PackageOwnersEmailGroup" value="LoadingTeamTest@nationalresearch.com"/>
      </environment>
      <environment name="Staging" type="Testing">
        <setting name="QP_LoadConnection" description="Cyclone" isEncrypted="true" value="DO3tvHPYYDCWOcz7lqEqGXi6edWycplBC7sCbWspsxubBYgKGSSL+KdTEHIHwd/WAbTNLGaK3bmFXGB/ilWa4rFoppC9pfoJP7301MjTWeOUTDhVTTtTfw=="/>
        <setting name="NrcAuthConnection" description="Jayhawk" isEncrypted="true" value="DO3tvHPYYDBbxkyVwAVWOk0T/QlNrvvmUoCtt8AWB41XrAE+LG9au0gsDALw6I5JabAqQ2MJ3zcIzWoNsiceuw=="/>
        <setting name="TimerInterval" value="10000"/>
        <setting name="SMTPServer" value="smtp"/>
        <setting name="DataStorePath" value="\\siQualFil02\QLoader"/>
        <setting name="RunDTSExecutions" value="true"/>
        <setting name="MaxConcurrentLoads" value="2"/>
        <setting name="RunAddressCleaning" value="true"/>
        <setting name="MaxConcurrentCleaning" value="2"/>
        <setting name="RunValidationReports" value="true"/>
        <setting name="MaxConcurrentValidations" value="3"/>
        <setting name="RunApplies" value="true"/>
        <setting name="MaxConcurrentApplies" value="3"/>
        <setting name="ReportServer" value="http://Jayhawk/ReportServer?/DataLoadingReports/"/>
        <setting name="ValidationReport" value="ValidationReports"/>
        <setting name="PackageOwnersEmailGroup" value="LoadingTeamTest@nationalresearch.com"/>
      </environment>
      <environment name="Testing" type="Testing">
        <setting name="QP_LoadConnection" description="WonderWoman" isEncrypted="true" value="DO3tvHPYYDAm/DNH4dYFB0VwuDBT3ltIU/MjE+lVG3BRGoa8MjdZm3F2Aa78N1NOnI5TRSKlF0q0VxASRPOIZzicPwK/79tV15TpCDh5H7PmDkOiB6gHSzqg749eXOhT"/>
        <setting name="NrcAuthConnection" description="IronHide" isEncrypted="true" value="DO3tvHPYYDAHgiCvmF6T3xGc3KX1+0okgUnY0LWHbZVOkEpifergZHDrwXbRYWcLgSItuQX981iJyKP/+XpBMQ=="/>
        <setting name="TimerInterval" value="10000"/>
        <setting name="SMTPServer" value="smtp"/>
        <setting name="DataStorePath" value="\\tiQualFil02\QLoader"/>
        <setting name="RunDTSExecutions" value="true"/>
        <setting name="MaxConcurrentLoads" value="2"/>
        <setting name="RunAddressCleaning" value="true"/>
        <setting name="MaxConcurrentCleaning" value="2"/>
        <setting name="RunValidationReports" value="true"/>
        <setting name="MaxConcurrentValidations" value="3"/>
        <setting name="RunApplies" value="true"/>
        <setting name="MaxConcurrentApplies" value="3"/>
        <setting name="ReportServer" value="http://Batman/ReportServer?/DataLoadingReports/"/>
        <setting name="ValidationReport" value="ValidationReports"/>
        <setting name="PackageOwnersEmailGroup" value="LoadingTeamTest@nationalresearch.com"/>
      </environment>
      <environment name="Development" type="Development">
        <setting name="QP_LoadConnection" description="d-QualLoadSql01,5678" isEncrypted="true" value="DO3tvHPYYDAr1XV+SypPCh8uXKWgoajfqAwD3cPG9vMkp+Lh79kuQ5GQ3ANb/GiGCcE2Mk00dCW+VAGxVdDSPCPXGjCrKkeT5suslVKixL3LI/2ixNod3jOCCYYZV8288cKFQO+JbVY="/>
        <setting name="NrcAuthConnection" description="d-NRCAuthSql01,5678" isEncrypted="true" value="DO3tvHPYYDCa47GjVVOzYz9/IBmb5dU58cJe2su+ks80D5kg1wbZh3AaXKNyCGHT/OkeQdLKPMZwmcgkUKWZKajVAhWA0nIsSghBlZqPKG8="/>
        <setting name="TimerInterval" value="10000"/>
        <setting name="SMTPServer" value="smtp2"/>
        <setting name="DataStorePath" value="\\d-QualFil01\QLoader"/>
        <setting name="RunDTSExecutions" value="true"/>
        <setting name="MaxConcurrentLoads" value="2"/>
        <setting name="RunAddressCleaning" value="true"/>
        <setting name="MaxConcurrentCleaning" value="2"/>
        <setting name="RunValidationReports" value="true"/>
        <setting name="MaxConcurrentValidations" value="3"/>
        <setting name="RunApplies" value="false"/>
        <setting name="MaxConcurrentApplies" value="3"/>
        <setting name="ReportServer" value="http://localhost/ReportServer?/DataLoadingReports/"/>
        <setting name="ValidationReport" value="ValidationReports"/>
        <setting name="PackageOwnersEmailGroup" value="LoadingTeamTest@nationalresearch.com"/>
      </environment>
    </environmentSettings>
  </Nrc.Framework.Configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
