<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Nrc.Framework.Configuration">
      <section name="environmentSettings" type="Nrc.Framework.Configuration.EnvironmentSettingsSectionHandler, Nrc.Framework"/>
    </sectionGroup>
  </configSections>
  <Nrc.Framework.Configuration>
    <environmentSettings currentEnvironment="Production">
      <globalSetting name="SqlTimeout" value="3600"/>
      <environment name="Production" type="Production">
        <setting name="QP_LoadConnection" description="Mars" isEncrypted="true" value="DO3tvHPYYDDOCLlCH7BytVPyxq451davA2pn3UKUc63j7u0MP0IZQ1bkRZfcf7yB+JTmVyEqwJeaDfwnRmbYLufL1CEBY9gZ2oxMmXJ+KtILF1jUTG172Q=="/>
        <setting name="NrcAuthConnection" description="Mercury" isEncrypted="true" value="DO3tvHPYYDAZVgZpqOVehTQIe1k7CAiWp4p/GHqb8GyoP+ybu/8C2IcJtffaQYwQzNvGw1vQH8/MQdujcVe2eg=="/>
        <setting name="TimerInterval" value="10000"/>
        <setting name="SMTPServer" value="smtp2.nationalresearch.com"/>
        <setting name="DataStorePath" value="\\neptune\nrc4\QLoader\Prod"/>
        <setting name="RunDTSExecutions" value="true"/>
        <setting name="MaxConcurrentLoads" value="2"/>
        <setting name="RunAddressCleaning" value="true"/>
        <setting name="MaxConcurrentCleaning" value="2"/>
        <setting name="RunValidationReports" value="true"/>
        <setting name="MaxConcurrentValidations" value="3"/>
        <setting name="RunApplies" value="true"/>
        <setting name="MaxConcurrentApplies" value="3"/>
        <setting name="ReportServer" value="http://corp/ReportServer?/DataLoadingReports/Prod/"/>
        <setting name="ValidationReport" value="ValidationReports"/>
        <setting name="PackageOwnersEmailGroup" value="LoadingTeamTest@nationalresearch.com"/>
      </environment>
      <environment name="Staging" type="Testing">
        <setting name="QP_LoadConnection" description="Cyclone" isEncrypted="true" value="DO3tvHPYYDCWOcz7lqEqGXi6edWycplBC7sCbWspsxubBYgKGSSL+KdTEHIHwd/WAbTNLGaK3bmFXGB/ilWa4rFoppC9pfoJP7301MjTWeOUTDhVTTtTfw=="/>
        <setting name="NrcAuthConnection" description="Jayhawk" isEncrypted="true" value="DO3tvHPYYDBbxkyVwAVWOk0T/QlNrvvmUoCtt8AWB41XrAE+LG9au0gsDALw6I5JabAqQ2MJ3zcIzWoNsiceuw=="/>
        <setting name="TimerInterval" value="10000"/>
        <setting name="SMTPServer" value="Huskers"/>
        <setting name="DataStorePath" value="\\Huskers\QLoader"/>
        <setting name="RunDTSExecutions" value="true"/>
        <setting name="MaxConcurrentLoads" value="2"/>
        <setting name="RunAddressCleaning" value="true"/>
        <setting name="MaxConcurrentCleaning" value="2"/>
        <setting name="RunValidationReports" value="true"/>
        <setting name="MaxConcurrentValidations" value="3"/>
        <setting name="RunApplies" value="true"/>
        <setting name="MaxConcurrentApplies" value="3"/>
        <setting name="ReportServer" value="http://Jayhawk/ReportServer?/DataLoadingReports/"/>
        <setting name="ValidationReport" value="ValidationReports"/>
        <setting name="PackageOwnersEmailGroup" value="LoadingTeamTest@nationalresearch.com"/>
      </environment>
      <environment name="Testing" type="Testing">
        <setting name="QP_LoadConnection" description="WonderWoman" isEncrypted="true" value="DO3tvHPYYDAm/DNH4dYFB0VwuDBT3ltIU/MjE+lVG3BRGoa8MjdZm3F2Aa78N1NOnI5TRSKlF0q0VxASRPOIZzicPwK/79tV15TpCDh5H7PmDkOiB6gHSzqg749eXOhT"/>
        <setting name="NrcAuthConnection" description="Batman" isEncrypted="true" value="DO3tvHPYYDAHgiCvmF6T3xGc3KX1+0okgUnY0LWHbZVOkEpifergZHDrwXbRYWcLgSItuQX981iJyKP/+XpBMQ=="/>
        <setting name="TimerInterval" value="10000"/>
        <setting name="SMTPServer" value="Superman"/>
        <setting name="DataStorePath" value="\\Superman\QLoader"/>
        <setting name="RunDTSExecutions" value="true"/>
        <setting name="MaxConcurrentLoads" value="2"/>
        <setting name="RunAddressCleaning" value="true"/>
        <setting name="MaxConcurrentCleaning" value="2"/>
        <setting name="RunValidationReports" value="true"/>
        <setting name="MaxConcurrentValidations" value="3"/>
        <setting name="RunApplies" value="true"/>
        <setting name="MaxConcurrentApplies" value="3"/>
        <setting name="ReportServer" value="http://Batman/ReportServer?/DataLoadingReports/"/>
        <setting name="ValidationReport" value="ValidationReports"/>
        <setting name="PackageOwnersEmailGroup" value="LoadingTeamTest@nationalresearch.com"/>
      </environment>
      <environment name="Development" type="Development">
        <setting name="QP_LoadConnection" description="WonderWoman,5678" isEncrypted="true" value="DO3tvHPYYDAm/DNH4dYFBynEA9+0iCKQFKPUtMnwPMB0byEhSx9Ja6hawwUvbOpCWA2qzCfcdQ1IpEVf4Tyci0ubUAG6jgEZEM62bB0TJc/+FcqeY4OlfzugMKczZvDb"/>
        <setting name="NrcAuthConnection" description="Batman,5678" isEncrypted="true" value="DO3tvHPYYDAHgiCvmF6T331q204Wf1H3tnt7xA235iaPdlyE+jXIFuk49Xm+gTzdaMArQ3T5SC8MEIfH6KetfUh5cOEWTLD9"/>
        <setting name="TimerInterval" value="10000"/>
        <setting name="SMTPServer" value="smtp2.nationalresearch.com"/>
        <setting name="DataStorePath" value="\\neptune\nrc4\QLoader\Dev"/>
        <setting name="RunDTSExecutions" value="true"/>
        <setting name="MaxConcurrentLoads" value="2"/>
        <setting name="RunAddressCleaning" value="true"/>
        <setting name="MaxConcurrentCleaning" value="2"/>
        <setting name="RunValidationReports" value="true"/>
        <setting name="MaxConcurrentValidations" value="3"/>
        <setting name="RunApplies" value="false"/>
        <setting name="MaxConcurrentApplies" value="3"/>
        <setting name="ReportServer" value="http://Batman/ReportServer?/DataLoadingReports/"/>
        <setting name="ValidationReport" value="ValidationReports"/>
        <setting name="PackageOwnersEmailGroup" value="LoadingTeamTest@nationalresearch.com"/>
      </environment>
    </environmentSettings>
  </Nrc.Framework.Configuration>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
