<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Catalyst"
      connectionString="Server=STGCATCLUSTDB2.stagenrcus.nationalresearch.com\CATDB2;Database=NRC_Datamart;User ID=nrc;Password=nrc;MultipleActiveResultSets=True"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CatalystExportContext"
         connectionString="Server=STGCATCLUSTDB2.stagenrcus.nationalresearch.com\CATDB2;Database=NRC_CatalystExport;User ID=nrc;Password=nrc;MultipleActiveResultSets=True"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="DefaultLocation" value="\\lnk0squalweb01\NRC_Exports\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>    
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <authorization xdt:Transform="Replace" >
      <allow users="NG\edouglas, NG\lmccarthy, NG\ddurham, NRC" />
      <deny users="?" />
    </authorization>
  </system.web>
</configuration>