<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="Nrc.Framework.Configuration">
			<section name="environmentSettings" type="Nrc.Framework.Configuration.EnvironmentSettingsSectionHandler, Nrc.Framework" />
		</sectionGroup>
		<section name="Providers" type="System.Configuration.NameValueSectionHandler" />
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Nrc.SurveyPointUtilities.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<Providers>
		<add key="DataProvider" value="Nrc.AdventureWorks.Library.SqlProvider.SqlDataProvider, Nrc.AdventureWorks.Library.SqlProvider" />
	</Providers>
	<Nrc.Framework.Configuration>
		<environmentSettings>
			<globalSetting name="SqlTimeout" value="14400" />
      <globalSetting name="MaxNumberOfRespondentsPerExport" value="35000" />
			<environment name="Production" type="Production">
				<setting name="NrcAuthConnection" description="Mercury" isEncrypted="true" value="DO3tvHPYYDAZVgZpqOVehTQIe1k7CAiWp4p/GHqb8GyoP+ybu/8C2IcJtffaQYwQzNvGw1vQH8/MQdujcVe2eg==" />
				<setting name="QMSConnection" description="Aries" isEncrypted="true" value="DO3tvHPYYDB5Ktge/0Di/+qDSsILIrsQp8rM/p08thuPdA0aqyax4V/x99+903KVVeifsudwsZPX6OAv4yKMFHenALBL+q5v" />
				<setting name="SmtpServer" description="Production SMTP" isEncrypted="false" value="smtp2.nationalresearch.com" />
			</environment>
			<environment name="Staging" type="Testing">
        <!--<setting name="NrcAuthConnection" description="Jayhawk" isEncrypted="true" value="DO3tvHPYYDBbxkyVwAVWOk0T/QlNrvvmUoCtt8AWB41XrAE+LG9au0gsDALw6I5JabAqQ2MJ3zcIzWoNsiceuw==" />				-->
        <!--<setting name="QMSConnection" description="Hawkeye,5678" isEncrypted="true" value="DO3tvHPYYDBTzuCSF8595unTrDUzo2wKYPn6j/xhn/gCxqKTBXf+AL4YSItZC9MlEg+c/fugc2noPEdKIMcxvDAuCjosckItIx5eqyHtol4=" />-->
        <!--<setting name="SmtpServer" description="Staging SMTP" isEncrypted="false" value="Huskers" />-->
        <setting name="NrcAuthConnection" description="JayHawk" isEncrypted="true" value="DO3tvHPYYDDt/PZdQu6hZG3W+1RyJqxSd1wsJtLiiNjVq7LPva+DeT3H2d0gYPv/IWxyx5ur04dqfn6b7rmNwQ==" />
        <setting name="QMSConnection" description="Hawkeye" isEncrypted="true" value="DO3tvHPYYDBTzuCSF8595vjLe49HqMYQ77DxKKqM5u1EQUf5f0jsZYMc2m4ByHIrjkT/BUdsmhlkzbuuwDvnvvFPqylxGoBx" />     
        <setting name="SmtpServer" description="Production SMTP" isEncrypted="false" value="smtp2.nationalresearch.com" />
			</environment>
			<environment name="Testing" type="Testing">
        <setting name="NrcAuthConnection" description="Mercury" isEncrypted="true" value="DO3tvHPYYDAZVgZpqOVehTQIe1k7CAiWp4p/GHqb8GyoP+ybu/8C2IcJtffaQYwQzNvGw1vQH8/MQdujcVe2eg==" />
        <!--<setting name="NrcAuthConnection" description="Ironhide" isEncrypted="false" value="Data Source=Ironhide;UID=qpsa;PWD=qpsa;Initial Catalog=NRCAuth;" />        -->
        <setting name="QMSConnection" description="test_qms_db" isEncrypted="false" value="Data Source=test_qms_db;Integrated Security=SSPI;Initial Catalog=QMS;" />
        <setting name="SmtpServer" description="Production SMTP" isEncrypted="false" value="smtp2.nationalresearch.com" />
			</environment>
			<environment name="Development" type="Development">
				<setting name="NrcAuthConnection" description="Batman,5678" isEncrypted="false" value="Data Source=Batman,5678;UID=qpsa;PWD=qpsa;Initial Catalog=NRCAuth;" />                
				<setting name="QMSConnection" description="TestSQLServer02,5678" isEncrypted="false" value="Data Source=TestSQLServer02,5678;UID=sa;PWD=;Initial Catalog=QMS;" />            
				<setting name="SmtpServer" description="Production SMTP" isEncrypted="false" value="smtp2.nationalresearch.com" />
			</environment>
		</environmentSettings>
	</Nrc.Framework.Configuration>
  <appSettings>
    <add key="QMSConnection" value ="Data Source=Aries;UID=qmswebuser;PWD=luckydog;Initial Catalog=QMS;"/>
  </appSettings>
 <userSettings>
  <Nrc.SurveyPointUtilities.My.MySettings>
   <setting name="MainFormWindowState" serializeAs="String">
    <value>Maximized</value>
   </setting>
   <setting name="MainFormLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="MainFormSize" serializeAs="String">
    <value>600, 400</value>
   </setting>
   <setting name="MainFormSplitterLocation" serializeAs="String">
    <value>218</value>
   </setting>
  </Nrc.SurveyPointUtilities.My.MySettings>
 </userSettings>
</configuration>
