<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <sectionGroup name="Nrc.Framework.Configuration">
      <section name="environmentSettings" type="Nrc.Framework.Configuration.EnvironmentSettingsSectionHandler, Nrc.Framework"/>
    </sectionGroup>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="appTitle" value="AddressCleaner"/>
    <variable name="logFilePath" value="C:\NRC\Logs\${appTitle}\${shortdate}.log"/>

    <targets async="true">
      <target name="file"
              xsi:type="File"
              fileName="${logFilePath}"
              layout="${longdate} ${level:upperCase=true}: ${message} ${onexception:${newline}${exception:format=ToString}}"
              archiveEvery="Day"
              archiveAboveSize="5242880"
              maxArchiveFiles="50"
              archiveNumbering="Rolling"
              archiveFileName="C:\NRC\Logs\${appTitle}\${shortdate}.{##}.log"
              />
      <target
        xsi:type="EventLog"
        name="eventLog"
        source="${appTitle}"
        layout="${message}${newline}${exception:format=ToString}"
        />
    </targets>

    <rules>
      <logger name="*" minlevel="Info" writeTo="file"/>
      <logger name="*" minlevel="Warn" writeTo="eventLog"/>
    </rules>
  </nlog>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
