<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Nrc.Framework.Configuration">
      <section name="environmentSettings" type="Nrc.Framework.Configuration.EnvironmentSettingsSectionHandler, Nrc.Framework"/>
    </sectionGroup>
  </configSections>
  <Nrc.Framework.Configuration>
    <environmentSettings currentEnvironment="Production">
      <globalSetting name="SqlTimeout" value="3600"/>
      <environment name="Production" type="Production">
        <setting name="QP_LoadConnection" description="Mars" isEncrypted="true" value="DO3tvHPYYDDOCLlCH7BytVPyxq451davA2pn3UKUc63j7u0MP0IZQ1bkRZfcf7yB+JTmVyEqwJeaDfwnRmbYLufL1CEBY9gZ2oxMmXJ+KtILF1jUTG172Q=="/>
        <setting name="QP_ProdConnection" description="NRC10" isEncrypted="true" value="DO3tvHPYYDB+jVcrpKbZjfFlpbEzgvh4Hd4+e4bfe7jluM5K2dBzPkwjNBOyikN9Kjaqp6CDvxDF8EnD1NBrhnQl7ECCZsionsyGNHZ2lWF6C+bpDTzBSRjF7e/qZxm+"/>
        <setting name="SMTPServer" value="smtp2.nationalresearch.com"/>
        <setting name="DataStorePath" value="\\neptune\nrc4\QLoader\Prod"/>
        <setting name="TrueNameLibraries" value="c:\pw\tnlib\"/>
        <setting name="AceDirectories" value="c:\pw\dirs\"/>
        <setting name="AceDictionaries" value="c:\pw\acelib\"/>
        <setting name="CAceDictionaries" value="c:\pw\cacelib\"/>
        <setting name="AceDpvDirectory" value="c:\pw\dpv\"/>
        <setting name="AceLacsLinkDirectory" value="c:\pw\lacslink\"/>
        <setting name="AceRootFolder" value="c:\pw\"/>
        <setting name="AceLogDirectory" value="c:\pw\logs\"/>
        <setting name="BatchSize" value="3000"/>
        <setting name="CACEAddressOverPostalCode" value="TRUE"/>
      </environment>
      <environment name="Staging" type="Testing">
        <setting name="QP_LoadConnection" description="Cyclone" isEncrypted="true" value="DO3tvHPYYDCWOcz7lqEqGXi6edWycplBC7sCbWspsxubBYgKGSSL+KdTEHIHwd/WAbTNLGaK3bmFXGB/ilWa4rFoppC9pfoJP7301MjTWeOUTDhVTTtTfw=="/>
        <setting name="QP_ProdConnection" description="Tiger" isEncrypted="true" value="DO3tvHPYYDAnundeRbzjYD6dTOkeDskBBivNzP4AH2rDIUJEDDpy6HvUts+3a7mDsJjTuG1pKI4v16RmOXhfDU/46jWsmiyHHTVP4juDLUTTPdBeFaZC0KIehBGIH6Ux"/>
        <setting name="SMTPServer" value="Huskers"/>
        <setting name="DataStorePath" value="\\Huskers\QLoader"/>
        <setting name="TrueNameLibraries" value="e:\pw\tnlib\"/>
        <setting name="AceDirectories" value="e:\pw\dirs\"/>
        <setting name="AceDictionaries" value="e:\pw\acelib\"/>
        <setting name="CAceDictionaries" value="e:\pw\cacelib\"/>
        <setting name="AceDpvDirectory" value="e:\pw\dpv\"/>
        <setting name="AceLacsLinkDirectory" value="e:\pw\lacslink\"/>
        <setting name="AceRootFolder" value="e:\pw\"/>
        <setting name="AceLogDirectory" value="e:\pw\logs\"/>
        <setting name="BatchSize" value="3000"/>
        <setting name="CACEAddressOverPostalCode" value="TRUE"/>
      </environment>
      <environment name="Testing" type="Testing">
        <setting name="QP_LoadConnection" description="WonderWoman" isEncrypted="true" value="DO3tvHPYYDAm/DNH4dYFB0VwuDBT3ltIU/MjE+lVG3BRGoa8MjdZm3F2Aa78N1NOnI5TRSKlF0q0VxASRPOIZzicPwK/79tV15TpCDh5H7PmDkOiB6gHSzqg749eXOhT"/>
        <setting name="QP_ProdConnection" description="Spiderman" isEncrypted="true" value="DO3tvHPYYDCDPsjj/CXL2cjDFzmC4ElPZiCnqUcNberlGU1x559bj152ofaXwbV8WNyoOPN+jUqkXzgYsKHFxX8/jrZ76YxHPuDE4+0ex60VWBjJ5zIfnToeqMbpe8Gw"/>
        <setting name="SMTPServer" value="Superman"/>
        <setting name="DataStorePath" value="\\Superman\QLoader"/>
        <setting name="TrueNameLibraries" value="e:\pw\tnlib\"/>
        <setting name="AceDirectories" value="e:\pw\dirs\"/>
        <setting name="AceDictionaries" value="e:\pw\acelib\"/>
        <setting name="CAceDictionaries" value="e:\pw\cacelib\"/>
        <setting name="AceDpvDirectory" value="e:\pw\dpv\"/>
        <setting name="AceLacsLinkDirectory" value="e:\pw\lacslink\"/>
        <setting name="AceRootFolder" value="e:\pw\"/>
        <setting name="AceLogDirectory" value="e:\pw\logs\"/>
        <setting name="BatchSize" value="3000"/>
        <setting name="CACEAddressOverPostalCode" value="TRUE"/>
      </environment>
      <environment name="Development" type="Development">
        <setting name="QP_LoadConnection" description="WonderWoman,5678" isEncrypted="true" value="DO3tvHPYYDAm/DNH4dYFBynEA9+0iCKQFKPUtMnwPMB0byEhSx9Ja6hawwUvbOpCWA2qzCfcdQ1IpEVf4Tyci0ubUAG6jgEZEM62bB0TJc/+FcqeY4OlfzugMKczZvDb"/>
        <setting name="QP_ProdConnection" description="Spiderman,5678" isEncrypted="true" value="DO3tvHPYYDCDPsjj/CXL2cw+Xp17aW4cXanf2ud+lwFS5GtHNjOvmIa1Oe8d1HfkhNDLuAt3l/wBafAIxIqrrb/VKJ4c7zjjr0rRANR34qM9kNpsb2i9zBtbv2iSnr5hV7tcNq1xQDs="/>
        <setting name="SMTPServer" value="smtp2.nationalresearch.com"/>
        <setting name="DataStorePath" value="\\Neptune\NRC4\QLoader\Dev"/>
        <setting name="TrueNameLibraries" value="e:\pw\tnlib\"/>
        <setting name="AceDirectories" value="e:\pw\dirs\"/>
        <setting name="AceDictionaries" value="e:\pw\acelib\"/>
        <setting name="CAceDictionaries" value="e:\pw\cacelib\"/>
        <setting name="AceDpvDirectory" value="e:\pw\dpv\"/>
        <setting name="AceLogDirectory" value="e:\pw\logs\"/>
        <setting name="AceLacsLinkDirectory" value="e:\pw\lacslink\"/>
        <setting name="AceRootFolder" value="e:\pw\"/>

        <!--Address Cleaning Batch Size - This is number of DB records to be processed at a time -->
        <!--If set to anything less than 1000 the program will override and use 1000 -->
        <setting name="BatchSize" value="3000"/>

        <!--Canadian Ace Priority on Address OVER Postal Code (TRUE or FALSE) -->
        <!--If set to: TRUE  - then Address has priority and Postal Code may change. -->
        <!--           FALSE - then Postal Code has priority and Address may change. -->
        <setting name="CACEAddressOverPostalCode" value="TRUE"/>
      </environment>
    </environmentSettings>
  </Nrc.Framework.Configuration>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
