<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RuleConfigurations" type="NRCFileConverterLibrary.Common.RuleConfigurationHandler,NRCFileConverterLibrary" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <RuleConfigurations>
    <Rule Name="Payer" Provider="FlatToAccessProvider" FileType="*.csv|*.txt" InputPath="C:\ServicesData\FileConversionService\CSVtoAccess\Input\" InProcessPath="C:\ServicesData\FileConversionService\CSVtoAccess\InProcess\" OutPath="C:\ServicesData\FileConversionService\CSVtoAccess\Output\" ArchivePath="C:\ServicesData\FileConversionService\CSVtoAccess\Archive\" PrimaryKey="respondentid">
    </Rule>
    <!--G:\ServicesData\FileConversionService can be found at \\Perseus\FileConversionService\-->
    <!--<Rule
      Name="Payer"
      Provider ="FlatToAccessProvider"
      FileType="*.csv|*.txt"
      InputPath="G:\ServicesData\FileConversionService\CSVtoAccess\Input\"
      InProcessPath="G:\ServicesData\FileConversionService\CSVtoAccess\InProcess\"
      OutPath ="\\teleform\scanroot\HRA\"
      ArchivePath="G:\ServicesData\FileConversionService\CSVtoAccess\Archive\"
      PrimaryKey="respondentid">
    </Rule>-->
  </RuleConfigurations>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="appTitle" value="NRCFileConversionService" />
    <variable name="logFilePath" value="C:\Logs\${appTitle} LOG.log" />
    <targets async="true">
      <target name="file" xsi:type="File" fileName="${logFilePath}" layout="${longdate} ${level:upperCase=true}: ${message} ${exception:format=ToString}" />
      <target xsi:type="EventLog" name="eventLog" source="${appTitle}" layout="${message}${newline}${exception:format=tostring}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file" />
      <logger name="*" minlevel="Warn" writeTo="eventLog" />
    </rules>
  </nlog>
  <appSettings>
    <add key="TimerInterval" value="5000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>