/*
S72_ATL-1429 Update OAS CPT Code Exclusions [QP_Load].sql

Lanny Boswell

4/6/2017

CREATE TABLE [dbo].[OasExcludedCptCode]
INSERT INTO [dbo].[OasExcludedCptCode]

*/

USE [QP_Load]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

IF (OBJECT_ID(N'[dbo].[OasExcludedCptCode]') IS NULL)
BEGIN
CREATE TABLE [dbo].[OasExcludedCptCode](
	[CptCode] [int] NOT NULL,
	[AddedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_OasExcludedCptCode] PRIMARY KEY CLUSTERED 
(
	[CptCode] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO

IF (OBJECT_ID(N'[dbo].[DF_OasExcludedCptCode_AddedDate]') IS NULL)
BEGIN
	ALTER TABLE [dbo].[OasExcludedCptCode] ADD  CONSTRAINT [DF_OasExcludedCptCode_AddedDate]  DEFAULT (getdate()) FOR [AddedDate]
END
GO

IF NOT EXISTS (SELECT * FROM [dbo].[OasExcludedCptCode])
BEGIN
INSERT INTO [dbo].[OasExcludedCptCode](CptCode) 
		  SELECT 11042
	UNION SELECT 11045
	UNION SELECT 16020
	UNION SELECT 16025
	UNION SELECT 16030
	UNION SELECT 29000
	UNION SELECT 29010
	UNION SELECT 29015
	UNION SELECT 29020
	UNION SELECT 29025
	UNION SELECT 29035
	UNION SELECT 29040
	UNION SELECT 29044
	UNION SELECT 29046
	UNION SELECT 29049
	UNION SELECT 29055
	UNION SELECT 29058
	UNION SELECT 29065
	UNION SELECT 29075
	UNION SELECT 29085
	UNION SELECT 29086
	UNION SELECT 29105
	UNION SELECT 29125
	UNION SELECT 29126
	UNION SELECT 29200
	UNION SELECT 29240
	UNION SELECT 29260
	UNION SELECT 29280
	UNION SELECT 29305
	UNION SELECT 29325
	UNION SELECT 29345
	UNION SELECT 29355
	UNION SELECT 29358
	UNION SELECT 29365
	UNION SELECT 29405
	UNION SELECT 29425
	UNION SELECT 29435
	UNION SELECT 29440
	UNION SELECT 29445
	UNION SELECT 29450
	UNION SELECT 29505
	UNION SELECT 29515
	UNION SELECT 29520
	UNION SELECT 29530
	UNION SELECT 29540
	UNION SELECT 29550
	UNION SELECT 29580
	UNION SELECT 29581
	UNION SELECT 29582
	UNION SELECT 36400
	UNION SELECT 36405
	UNION SELECT 36406
	UNION SELECT 36415
	UNION SELECT 36416
	UNION SELECT 36420
	UNION SELECT 36425
	UNION SELECT 36440
	UNION SELECT 36450
	UNION SELECT 36455
	UNION SELECT 36460
	UNION SELECT 36468
	UNION SELECT 36469
	UNION SELECT 36470
	UNION SELECT 36471
	UNION SELECT 36600
	UNION SELECT 36620
	UNION SELECT 36625
	UNION SELECT 36660
	UNION SELECT 51701
	UNION SELECT 51702
	UNION SELECT 59020
	UNION SELECT 59025
END