<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload HHCAHPS Files</title>

    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container body-content">
        <a href="http://nationalresearch.com/home/"><img src="~/Content/logo.png" alt="National Research Corporation" /></a>
        <hr />
        @using (Html.BeginForm("Index", "Upload", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <h2>Upload HHCAHPS Files</h2>
            <h3>Instructions</h3>
            <ul>
                <li>
                    <strong>Naming Conventions</strong>
                    <ul>
                        <li>
                            Files must include HHCAHPS_[CCN] as part of their name.
                            <ul>
                                <li>HHCAHPS_123456_Version1.2_02122016.csv</li>
                                <li>HHCAHPS_123456_022016.csv</li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <strong>Accepted File Types</strong>
                    <ul>
                        <li>Files with .csv or .txt extensions are allowed.</li>
                        <li>Compressed folder with a .zip extension where each file within the folder must follow the above naming conventions.</li>
                    </ul>
                </li>

                <li>
                    <strong>Update File Checkbox</strong>
                    <ul>
                        <li>
                            An update file is used to update missing data obtained for a previously successfully uploaded file in the same sample month.
                            <ul>
                                <li>Example: ICD-10 codes</li>
                            </ul>
                        </li>
                        <li><strong>Do not check the update box for re-uploading rejected files.</strong></li>
                    </ul>
                </li>
            </ul>

            <p>
                <div class="divbox">
                    If you need to upload multiple files for any reason (for example, if you are changing EMR vendors), please contact Client Services <b>PRIOR</b> to uploading files.
                </div>
            </p>

            <p>
                If you have any questions, please contact Client Services at 1-866-641-8324 or email <a href="mailto:HHCAHPSservice@nationalresearch.com">HHCAHPSservice@nationalresearch.com</a>.
            </p>

            <h3>Upload your files</h3>
            @RenderBody()
        }
        <hr />
        <footer>
            <p>&copy; @(DateTime.Now.Year) - National Research Corporation</p>
        </footer>
    </div>
</body>
</html>
