<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="EnvironmentSettings" type="PS.Framework.Configuration.EnvironmentSettings,PS.Framework"/>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="RespondentImportService"/> -->
    </sharedListeners>
  </system.diagnostics>
  <EnvironmentSettings useDomainDiscovery="false" selectedEnvironment="Production">
    <GlobalSettings>
      <Setting name="SqlTimeout" value="600" isEncrypted="false"/>
      <Setting name="EmailFrom" value="nrcsrv@nationalresearch.com" isEncrypted="false"/>
      <Setting name="EmailTo" value="PayerSolutionsDataFiles@nationalresearch.com" isEncrypted="false"/>
    </GlobalSettings>
    <Environments>
      <Environment name="Test">
        <Settings>
          <Setting name="NrcAuthConnection" isEncrypted="false" value="Data Source=Ironhide;UID=qpsa;PWD=qpsa;Initial Catalog=NRCAuth;"/>
          <Setting name="QMSConnection" isEncrypted="false" value="Data Source=Test_QMS_DB;UID=qmswebuser;PWD=Welcome1;Initial Catalog=QMS;"/>
          <Setting name="SurveyAdminConnection" isEncrypted="false" value="Data Source=Test_QMS_DB;UID=STDBO;PWD=Welcome1;Initial Catalog=SurveyAdministration;"/>
          <Setting name="SmtpServer" isEncrypted="false" value="smtp2.nationalresearch.com"/>
          <Setting name="TestNRC" isEncrypted="false" value="Data Source=wstpiccoli02;UID=sa;pwd=;Initial Catalog=Customers"/>
        </Settings>
      </Environment>
      <Environment name="Stage">
        <Settings>
          <Setting name="NrcAuthConnection" isEncrypted="true" value="DO3tvHPYYDDt/PZdQu6hZG3W+1RyJqxSd1wsJtLiiNjVq7LPva+DeT3H2d0gYPv/IWxyx5ur04dqfn6b7rmNwQ=="/>
          <Setting name="QMSConnection" isEncrypted="false" value="Data Source=Test_QMS_DB;UID=qmswebuser;PWD=Welcome1;Initial Catalog=QMS;"/>
          <Setting name="SurveyAdminConnection" isEncrypted="false" value="Data Source=Test_QMS_DB;UID=STDBO;PWD=Welcome1;Initial Catalog=SurveyAdministration;"/>
          <Setting name="SmtpServer" isEncrypted="false" value="smtp2.nationalresearch.com"/>
          <Setting name="TestNRC" isEncrypted="false" value="Server=wstpiccoli02;UID=sa;pwd=;Database=Customers"/>
        </Settings>
      </Environment>
      <Environment name="Production">
        <Settings>
          <Setting name="NrcAuthConnection" isEncrypted="true" value="DO3tvHPYYDAZVgZpqOVehTQIe1k7CAiWp4p/GHqb8GyoP+ybu/8C2IcJtffaQYwQzNvGw1vQH8/MQdujcVe2eg=="/>
          <Setting name="QMSConnection" isEncrypted="true" value="DO3tvHPYYDB5Ktge/0Di/+qDSsILIrsQp8rM/p08thuPdA0aqyax4V/x99+903KVVeifsudwsZPX6OAv4yKMFHenALBL+q5v"/>
          <Setting name="SurveyAdminConnection" isEncrypted="false" value="Data Source=Aries;UID=qmswebuser;PWD=luckydog;Initial Catalog=SurveyAdministration;"/>
          <Setting name="SmtpServer" isEncrypted="false" value="smtp2.nationalresearch.com"/>
        </Settings>
      </Environment>
    </Environments>
  </EnvironmentSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
