<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Nrc.NrcAuthAdmin.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
 <userSettings>
  <Nrc.NrcAuthAdmin.My.MySettings>
   <setting name="MainFormLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="MainFormWindowState" serializeAs="String">
    <value>Maximized</value>
   </setting>
   <setting name="MainFormSize" serializeAs="String">
    <value>635, 496</value>
   </setting>
   <setting name="StandardOneClickDialogSize" serializeAs="String">
    <value>608, 408</value>
   </setting>
   <setting name="MainFormSplitterLocation" serializeAs="String">
    <value>218</value>
   </setting>
  </Nrc.NrcAuthAdmin.My.MySettings>
 </userSettings>
</configuration>
