/****** Script for SelectTopNRows command from SSMS  ******/
SELECT *
  FROM [NRC_DataMart_Extracts].[CEM].[ExportDataset00000007] eds
  where eds.[decedentleveldata.survey-status] = 1
  and [decedentleveldata.number-survey-attempts-telephone] <> 88



  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT *
  FROM [NRC_DataMart_Extracts].[CEM].[ExportDataset00000007] eds
  where eds.[decedentleveldata.survey-status] = 1
  and [decedentleveldata.number-survey-attempts-mail] = 88



  SELECT *
  FROM [NRC_DataMart_Extracts].[CEM].[ExportDataset00000007] eds
  where eds.[hospicedata.ineligible-presample] is null

  select *
  from Nrc_datamart.dbo.samplepopulation
  where samplepopulationid in 
  (182391488,
182391491,
182382214,
182382223)


  select count(*)
  from Nrc_datamart.dbo.samplepopulation
  where numberofphoneattempts is not null


  select top 100 *
  from nrc_datamart.etl.datasourcekey dsk
  where dsk.datasourcekeyid in
  ( '182391488',
	'182391491',
	'182382214',
	'182382223')


SELECT samplepopulationid, [decedentleveldata.number-survey-attempts-mail], [decedentleveldata.number-survey-attempts-telephone]
  FROM [NRC_DataMart_Extracts].[CEM].[ExportDataset00000007] eds
  where eds.[decedentleveldata.survey-status] = 1
  and [decedentleveldata.number-survey-attempts-mail] = 88
  and samplepopulationid in
( '182260404',
'182969035',
'182991242',
'182968291',
'182969032',
'182638044',
'182967287',
'182887784',
'182967286',
'182969985',
'183036605',
'182968293',
'182967764',
'182975795',
'182148954',
'182149258',
'182165734',
'182270862',
'182272557',
'182276998',
'182123196',
'182124149',
'182131366',
'182150605',
'182164803',
'182165737',
'182260191',
'182260480',
'182120636',
'182121129',
'182121829',
'182121974',
'182121986',
'182122553',
'182126983',
'182128650',
'182165416',
'182250906',
'182257474',
'182268779',
'182121131',
'182123457',
'182126342',
'182127445',
'182165414',
'182170196',
'182260488',
'182260997',
'182121353',
'182123444',
'182124024',
'182127709',
'182155856',
'182260489',
'182260491',
'182265264',
'182270860',
'182275280',
'182087561',
'182119645',
'182149430',
'182165732',
'182165852',
'182268787',
'182272559',
'182275206',
'182275212',
'182120339',
'182120817',
'182121832',
'182122680',
'182163414',
'182121140',
'182121467',
'182121468',
'182122610',
'182163413',
'182164808',
'182165738',
'182250907',
'182250908',
'182260486',
'182260566',
'182268786',
'182268794',
'182122685',
'182124016',
'182124018',
'182164992',
'182262762',
'182268778',
'182268793',
'182475825',
'182404182',
'182404911',
'182404914',
'182455146',
'182463070',
'182474304',
'182474516',
'182475521',
'182480181',
'182480842',
'182532733',
'182555999',
'182647561',
'182908435',
'182914386',
'182390717',
'182918323',
'182919416',
'182926859',
'182960726',
'182961195',
'182961699',
'182961702',
'182961945',
'182406388',
'182452147',
'182452407',
'182453549',
'182456107',
'182460631',
'183027365',
'183033497',
'183072417',
'183072881',
'183073198',
'183073372',
'183157795',
'183161204',
'183192967',
'183213327',
'183215825',
'183220029',
'182541315',
'182548379',
'182548380',
'182701684',
'182907011',
'182907012',
'182505288',
'182532734',
'182541856',
'182638792',
'182645457',
'182647562',
'182888506',
'182406757',
'182449954',
'182451308',
'182452152',
'182454358',
'182457513',
'183029202',
'183032586',
'183072161',
'183072172',
'183842037',
'183847890',
'183849899',
'183852659',
'183907092',
'182581810',
'182581811',
'182912658',
'182912666',
'182915161',
'182918325',
'183197280',
'183217101',
'183278458',
'183330203',
'183361609',
'183413384',
'183430350',
'183441175',
'183442250',
'183533206',
'182989044',
'183024304',
'183030397',
'183032231',
'183071940',
'183072162',
'183072171',
'183072624',
'183072878',
'183072882',
'183072883',
'183073193',
'183073195',
'183073583',
'183081645',
'182462855',
'182469475',
'182476977',
'182529362',
'182529363',
'182533462',
'182536002',
'182537415',
'183027457',
'183037232',
'183072627',
'183073587',
'183073589',
'183081644',
'183191417',
'183194139',
'183196375',
'183197047',
'183209157',
'183316574',
'183072873',
'183072884',
'183073201',
'183073841',
'183101203',
'183162651',
'183177823',
'183182451',
'183191416',
'183191903',
'183194138',
'183283597',
'183326042',
'182962169',
'182967763',
'182968769',
'182968772',
'183071434',
'183071935',
'183072167',
'183072169',
'183073196',
'184016818',
'184052077',
'184057947',
'184061878',
'184110001',
'184116367',
'182919415',
'182921983',
'182989043',
'183072416',
'183072872',
'183072880',
'184214396',
'184219035',
'184224591',
'183099394',
'183191905',
'183192214',
'183213326',
'183411229',
'183413343',
'183528024',
'183760233',
'183859039',
'183908914',
'184322353',
'184323081',
'184323082',
'184324296',
'184422824',
'184423088',
'184521909',
'184524848',
'184557260',
'184710712',
'183850008',
'183851105',
'183898889',
'183907093',
'183956555',
'184019246',
'184020143',
'184020805',
'184052076',
'184061461',
'184233114',
'184241932',
'184243189',
'184246820',
'184274568',
'184290676',
'184321867',
'184322595',
'184421623',
'184422823',
'183538899',
'183635884',
'183702612',
'183740524',
'183743898',
'183781798',
'183847625',
'183905683',
'184016570',
'184020142',
'184020593',
'184020595',
'184023723',
'184052079',
'184115357',
'184116605',
'184800942',
'184806763',
'184877590',
'184878350',
'184901925',
'184422825',
'184469604',
'184520936',
'184579630',
'184639365',
'184642376',
'184712311',
'184714363',
'184800941',
'184804772',
'184877599',
'184892170',
'184894258',
'184894801',
'184911841',
'186314232',
'186329196',
'186512290',
'186513080',
'186513683',
'186529421',
'186529903',
'185620360',
'185640126',
'185642172',
'185646838',
'185664670',
'185713959',
'185756020',
'185815460',
'185939880',
'185950455',
'185979231',
'184916680',
'184951487',
'184951728',
'185050664',
'185051994',
'185183802',
'185186351',
'185339797',
'186572758',
'186923132',
'186990838',
'188117703',
'188121519',
'188126853',
'188134537',
'185342023',
'185342025',
'185350946',
'185428789',
'185442697',
'185622162',
'185639113',
'185757849',
'186016571',
'186041588',
'186042297',
'186042519',
'186042827',
'186074896',
'186075383',
'186075385',
'186076357',
'188134552',
'185771580',
'185814748',
'185839453',
'185854260',
'185936895',
'185972986',
'186013677',
'186036308',
'186036327',
'186041225',
'186041590',
'186042816',
'186044484',
'186075386',
'186075631',
'186075866',
'186076920',
'186104801',
'186111673',
'186112307',
'186150469',
'186236922',
'186236923',
'186303207',
'186305610',
'186307897',
'186307900',
'186100940',
'186103117',
'186103754',
'184060555',
'184103399',
'185937628',
'185939935',
'185950444',
'185979188',
'186036325',
'186041595',
'186042521',
'186042526',
'186042824',
'186074656',
'186075147',
'186075151',
'186097283',
'186098901',
'182121139',
'182121141',
'182124027',
'182129130',
'182164801',
'182165845',
'182165857',
'186114324',
'186217371',
'186227306',
'186229690',
'186232052',
'186303209',
'186306719',
'186310608',
'186313927',
'186316155',
'186490662',
'186567422',
'186573011',
'186747701',
'186923852',
'186979475',
'186980000',
'188112255',
'188117710',
'188121518',
'188132115',
'184282744',
'184288772',
'184324055',
'184359277',
'184364173',
'184382839',
'184575596',
'184586078',
'184711098',
'184714367',
'184743551',
'184814330',
'184877066',
'184877067',
'184878360',
'184895774',
'184951482',
'184956590',
'184983151',
'184995586',
'185116899',
'185172746',
'185182912',
'185186350',
'185425898',
'185474971',
'185771581',
'185818148',
'185831652',
'185948410',
'185951120',
'186036326',
'186038269',
'186038855',
'186041592',
'184880824',
'184951726',
'185048921',
'185611418',
'185627276',
'185632504',
'185639378',
'185788549',
'185838751',
'185859088',
'185937659',
'185945992',
'185948411',
'185979935',
'185979960',
'186036623',
'186036625',
'183410253',
'183411653',
'183411929',
'183524996',
'183538898',
'183567421',
'185176228',
'185338895',
'185354815',
'185362041',
'185419967',
'185442606',
'185474972',
'185638348',
'185639380',
'185712735',
'186043333',
'186044479',
'186074412',
'186075381',
'186075635',
'186097592',
'186100319',
'186100583',
'186102383',
'183776860',
'183912823',
'185763042',
'185833501',
'186036323',
'186039709',
'186042815',
'186103756',
'186219602',
'186221482',
'186231214',
'186233006',
'186307896',
'186316157',
'186322248',
'184015110',
'184020137',
'184020236',
'184053916',
'184056532',
'184064438',
'184107320',
'184108797',
'184111758',
'184115141',
'184117619',
'184119100',
'184145419',
'186049703',
'186101321',
'186108641',
'186108759',
'186132033',
'186331832',
'184015102',
'184023179',
'184023719',
'184029347',
'184058852',
'184058855',
'184104135',
'184115681',
'184135621',
'182578942',
'182592064',
'182592955',
'182910760',
'182915484',
'184145230',
'184152772',
'184160672',
'184160674',
'184166081',
'184206474',
'184208158',
'184208911',
'184210572',
'184210579',
'182919929',
'182920581',
'182923974',
'182926858',
'182961445',
'182966052',
'183027465',
'183035889',
'183036006',
'183072165',
'184212082',
'184212430',
'184214667',
'184219007',
'184231750',
'184233113',
'184242343',
'184243188',
'184282546',
'184290489',
'184292832',
'184294206',
'184294360',
'184521419',
'184521421',
'184557259',
'184707644',
'184710123',
'184710371',
'184710376',
'184711002',
'184714549',
'184805744',
'184805747',
'184896303',
'184912999',
'184952459',
'184978212',
'184980728',
'185176234',
'185183308',
'185201015',
'181971109',
'182062579',
'182077712',
'182078125',
'182087560',
'182114774',
'182120334',
'182121360',
'182123202',
'182064729',
'182069745',
'182069747',
'182116717',
'182119232',
'182119233',
'181967096',
'181972801',
'182069744',
'182087563',
'182120124',
'181967095',
'181967202',
'181967451',
'182069769',
'182071239',
'182072020',
'182072831',
'182077397',
'182078123',
'182071995',
'182120237',
'181967447',
'182072813',
'182078126',
'182114773',
'182116718',
'182120238',
'182120638',
'181967094',
'181967450',
'182073195',
'182116460',
'182121134',
'182121351',
'182124025',
'181967449',
'181976700',
'182072835',
'182114770',
'182115731',
'182116985',
'181967092',
'181967452',
'182120341',
'182120342',
'182120343',
'182121358',
'182121956',
'182121985',
'182122558',
'181971107',
'182071241',
'182120123',
'182120633',
'182124017',
'182453548',
'182453712',
'182453939',
'182454154',
'182382940',
'182394146',
'182404183',
'182449167',
'182451311',
'182272558',
'182272645',
'182277000',
'182319208',
'182378101',
'182378245',
'182378560',
'182382217',
'182390548',
'182390721',
'182386787',
'182391488',
'182391491',
'181963214',
'181971113',
'182073193',
'182074150',
'182116982',
'182119650',
'182120337',
'181963680',
'181981265',
'182078122',
'182078127',
'182114771',
'182115508',
'182115728',
'182116458',
'182373124',
'182375809',
'182378253',
'182378255',
'182379184',
'182382935',
'182386365',
'182387172',
'182385792',
'182386363',
'182392089',
'182392090',
'182451673',
'182453550',
'182453941',
'182455147',
'182456108',
'182456879',
'182468406',
'182474153',
'182477853',
'182509416',
'182455150',
'182460685',
'182454567',
'182454569',
'182456870',
'182456874',
'182593495',
'182641145',
'182647563',
'182886168',
'182887117',
'182888794',
'182890219',
'182907763',
'182912659',
'182915163',
'182915171',
'183032346',
'183032585',
'183073368',
'183073586',
'183160149',
'183190960',
'183192216',
'182404909',
'182406385',
'182453940',
'182456873',
'182470695',
'182480231',
'183411424',
'183411652',
'183528020',
'183533210',
'183561350',
'183747627',
'183747958',
'183782116',
'182538514',
'182555733',
'182590161',
'182654583',
'182886165',
'182888078',
'182888079',
'182891714',
'182912008',
'182914381',
'182915168',
'182920204',
'182912668',
'182919928',
'182930098',
'182960966',
'182961698',
'182961701',
'182961943',
'182967077',
'182967080',
'182969983',
'182547312',
'182551669',
'182556001',
'183784234',
'183784533',
'183900843',
'182562814',
'182593493',
'182843271',
'182919411',
'182920487',
'182915476',
'182917878',
'182917879',
'182917883',
'182918324',
'182928721',
'182930095',
'182970477',
'182987844',
'183529993',
'183530371',
'183533208',
'182960485',
'182960730',
'182962165',
'182967076',
'182967288',
'182967290',
'182969191',
'182970480',
'183025014',
'183031645',
'183071437',
'183071687',
'183071689',
'183071938',
'183072628',
'183081643',
'182263973',
'182272543',
'182272555',
'182277017',
'182277527',
'182280946',
'182288377',
'182294634',
'182297927',
'183326044',
'183412378',
'183433954',
'183524707',
'183528404',
'183528406',
'183530711',
'183533209',
'183682588',
'184121014',
'184121054',
'184145422',
'184160673',
'184160676',
'184165769',
'184166539',
'184172573',
'184208146',
'184208160',
'184209352',
'184210071',
'184211277',
'183900842',
'183907094',
'184215802',
'184219009',
'184224595',
'184229476',
'184230589',
'184242506',
'184245488',
'184246813',
'184273579',
'184282550',
'184282745',
'184288773',
'184290378',
'183361612',
'183410982',
'183411930',
'183412380',
'183528022',
'183528028',
'183528403',
'183528405',
'183555359',
'183555368',
'183647027',
'183747328',
'183747362',
'183555365',
'183567423',
'183647028',
'183647029',
'183745529',
'183767539',
'183859040',
'183860746',
'184213213',
'184213948',
'184214384',
'184214395',
'186044084',
'186074895',
'186075148',
'186075700',
'186076360',
'184876354',
'184876864',
'184876867',
'184893333',
'184953184',
'184974524',
'184984092',
'185048415',
'186100321',
'186100585',
'186100936',
'186102035',
'186104286',
'186105551',
'186107203',
'186108640',
'186112306',
'186112507',
'186129456',
'184243194',
'184245484',
'184246816',
'184246821',
'184287307',
'184288776',
'184291243',
'184322596',
'184324053',
'184522585',
'184644431',
'184743557',
'184798170',
'184812848',
'184876144',
'184876351',
'184877322',
'184895051',
'184913007',
'184915437',
'184213227',
'184213943',
'184214663',
'184218653',
'184224598',
'184225000',
'184230591',
'184230592',
'184234524',
'184234623',
'184242338',
'184243205',
'184714364',
'184804527',
'184808907',
'184837291',
'184876344',
'184877070',
'184877072',
'184878352',
'184891412',
'184911833',
'184911837',
'184911840',
'184914913',
'184951734',
'184282547',
'184288775',
'184367207',
'184462938',
'184521662',
'184561914',
'184709858',
'186224032',
'186229248',
'186229494',
'186306718',
'186306727',
'186307893',
'184968115',
'184988513',
'185172747',
'185176225',
'185176229',
'185338330',
'185362699',
'185369896',
'185419965',
'185428161',
'184710378',
'184713211',
'184714552',
'186923134',
'186979474',
'186981017',
'187102735',
'188111479',
'188117063',
'188117712',
'184952458',
'184952943',
'184971739',
'185049114',
'185199922',
'185361814',
'185361818',
'182124019',
'182164991',
'182165844',
'182257473',
'182260478',
'182263775',
'183841987',
'183852321',
'183905237',
'183956963',
'184016245',
'184019502',
'184023182',
'184026183',
'184058849',
'184108307',
'184111262',
'184019245',
'184020596',
'184023722',
'184053915',
'184056536',
'184115140',
'184116368',
'184116667',
'184134542',
'184208181',
'184210052',
'184210769',
'184210771',
'184211284',
'184211287',
'184211340',
'184211349',
'184212078',
'184212079',
'184214652',
'184215791',
'184219015',
'184229814',
'184232866',
'184233110',
'184241524',
'184241936',
'184243197',
'185377543',
'185421470',
'185646837',
'185648655',
'185664674',
'183920112',
'184018104',
'184020594',
'184020807',
'184210063',
'184210064',
'184210762',
'184210774',
'184210777',
'184211342',
'184211353',
'184212444',
'184213231',
'184213941',
'184214226',
'182547310',
'182548377',
'182551259',
'182592954',
'182593368',
'182595596',
'182640464',
'182654406',
'182887118',
'182887782',
'182907764',
'184219028',
'184219034',
'184230590',
'184231745',
'184233111',
'184242339',
'184245483',
'184273318',
'184283511',
'182915479',
'182921984',
'182921986',
'182928820',
'182961450',
'183031644',
'183032342',
'183071428',
'183072877',
'183072887',
'184521143',
'184560489',
'184579629',
'184637963',
'184713207',
'184713209',
'184714356',
'184229815',
'184234528',
'184281087',
'184283193',
'184292830',
'184521144',
'184524845',
'184876349',
'184876353',
'184877326',
'184877591',
'184951732',
'184951971',
'184575363',
'184710377',
'184712305',
'184743552',
'184802869',
'184807885',
'184876149',
'184876650',
'184998978',
'185048416',
'185049987',
'185113336',
'185173924',
'185199915',
'185361813',
'183157797',
'183189518',
'183195399',
'183197636',
'183213110',
'183215826',
'183219786',
'183220031',
'183275029',
'183365431',
'184877071',
'185056501',
'185183001',
'185337068',
'185337570',
'185340242',
'185361810',
'185362334',
'185617962',
'185741119',
'185756019',
'185761476',
'185789289',
'185833504',
'185939871',
'186038863',
'186041599',
'186043331',
'186043339',
'186044853',
'186050232',
'186075150',
'186076851',
'186099606',
'186099611',
'186110616',
'186111674',
'186150467',
'186216496',
'186217370',
'186222729',
'186224921',
'186232051',
'186241426',
'186309443',
'186316151',
'186316163',
'186512292',
'186529906',
'186533313',
'186536652',
'186567423',
'186567680',
'186573008',
'182365131',
'182382226',
'182386368',
'182390714',
'182390720',
'182275198',
'182276755',
'182277016',
'182288370',
'182288378',
'182313824',
'182314796',
'182363414',
'182364412',
'182276750',
'182276753',
'182276996',
'182277003',
'182277009',
'182288376',
'182375812',
'182382225',
'182386367',
'182386786',
'182386792',
'182392763',
'182394472',
'182277011',
'182313828',
'182319209',
'182378247',
'182378256',
'182381364',
'182382222',
'182288369',
'182301510',
'182375811',
'182375823',
'182376533',
'182376556',
'182378249',
'182378254',
'182378551',
'182275208',
'182277538',
'182280949',
'182284147',
'182376555',
'182379179',
'182379181',
'182381365',
'182165410',
'182165785',
'182166465',
'182275204',
'182276760',
'182284146',
'182288385',
'182303663',
'182303664',
'182313837',
'182391490',
'182399217',
'182451310',
'182451671',
'182451672',
'182270869',
'182272545',
'182276749',
'182277008',
'182279992',
'182279993',
'182288387',
'182313920',
'182366830',
'182396303',
'182396305',
'182404917',
'182451440',
'182452149',
'182452692',
'182917872',
'182918330',
'182918331',
'182923681',
'182960967',
'182961944',
'182968771',
'183032345',
'183034334',
'183035890',
'183071433',
'182380979',
'182382939',
'182385798',
'182469474',
'182469476',
'182538750',
'182546951',
'182891225',
'182915164',
'182915170',
'182915172',
'182923976',
'182961697',
'182962168',
'182966053',
'182477851',
'182533348',
'182533820',
'182546952',
'182546954',
'182548382',
'182551668',
'182553430',
'182641144',
'183276520',
'183278072',
'183278475',
'183410981',
'183522007',
'183524701',
'183538903',
'183555358',
'183743393',
'183782115',
'183072414',
'183073840',
'183179042',
'183186795',
'183190958',
'183192215',
'183213109',
'183276521',
'183318736',
'183319579',
'183364283',
'182461302',
'182461339',
'182477523',
'182478453',
'182533461',
'182452150',
'182452408',
'182452904',
'182454150',
'182454566',
'182455149',
'182455599',
'182398640',
'182452146',
'182453713',
'183073370',
'183073373',
'183073584',
'183073585',
'183555767',
'183561352',
'183653767',
'183741009',
'183781797',
'183195400',
'183197281',
'183198995',
'183220020',
'183334997',
'183410983',
'183412241',
'183413129',
'183528019',
'183528027',
'183170960',
'183185112',
'183197041',
'183202168',
'183324505',
'183324506',
'183411656',
'183413341',
'182573638',
'182642073',
'182654407',
'182888795',
'182901970',
'182904907',
'182915166',
'182918328',
'182923979',
'182926855',
'184020141',
'184020235',
'184028741',
'184112447',
'184112959',
'184143868',
'184145235',
'184153964',
'184172823',
'183073367',
'183073590',
'183102345',
'183102657',
'183103111',
'183170959',
'183189520',
'183196381',
'183220028',
'183277224',
'183278476',
'183322142',
'183325326',
'183442509',
'183530709',
'183555361',
'183782063',
'183789156',
'183528900',
'183538904',
'183555362',
'183561348',
'183562791',
'183663644',
'183682587',
'183740307',
'183745413',
'183747565',
'183747957',
'183747959',
'184175529',
'184207932',
'184208696',
'184208906',
'184211282',
'184211350',
'184212081',
'184212084',
'183411931',
'183412418',
'183429044',
'183524703',
'183524704',
'184743558',
'184805745',
'184875902',
'184876345',
'184103907',
'184112965',
'184113669',
'184116093',
'184116604',
'184151697',
'184168978',
'184202593',
'184206467',
'184207930',
'184208154',
'184208908',
'184209354',
'184210059',
'184210068',
'184210077',
'184210567',
'184121012',
'184132103',
'184148562',
'184153967',
'184167476',
'184172824',
'184172825',
'184175530',
'184210076',
'185182911',
'185182996',
'185183327',
'185199913',
'185340032',
'185342027',
'185355805',
'185377541',
'184015103',
'184020804',
'184023724',
'184029346',
'184052075',
'184053919',
'184104133',
'184115329',
'184115678',
'184135473',
'184135475',
'184211276',
'184213226',
'184213228',
'184213229',
'184213951',
'184213952',
'184213953',
'184215788',
'184222848',
'184224592',
'184224999',
'184237316',
'184242335',
'184213219',
'184213957',
'184224596',
'184231744',
'184242355',
'185618521',
'185639111',
'185731693',
'185948883',
'185972985',
'185979932',
'185979961',
'184242353',
'184243195',
'184283745',
'184289736',
'184421870',
'184709855',
'184709861',
'184714546',
'184160678',
'184208150',
'184208156',
'184209351',
'184209355',
'184210574',
'184210772',
'184211286',
'184211293',
'184212080',
'184212438',
'186038862',
'186041582',
'186042275',
'186042294',
'186140797',
'186150470',
'186230477',
'186241430',
'186241431',
'186310617',
'186322240',
'186322242',
'186331836',
'186364142',
'186491087',
'186567903',
'186568157',
'186331841',
'186492110',
'186572756',
'186603096',
'186738265',
'186746052',
'186569361',
'186589846',
'186603916',
'186746380',
'186978220',
'186978529',
'188106659',
'188106666',
'188107261',
'186922578',
'186978893',
'187103649',
'188117076',
'188134535',
'188126842',
'188132118',
'185051297',
'185182917',
'185183009',
'185627277',
'185627278',
'185831651',
'185838351',
'186014368',
'186041585',
'186041597',
'186042522',
'186044478',
'186049704',
'186074410',
'186074897',
'186076356',
'186101560',
'186104760',
'186106457',
'186112305',
'186140798',
'186142972',
'186150594',
'186197804',
'186216497',
'186216849',
'186229250',
'186229499',
'186238356',
'186305600',
'186313921',
'186314249',
'186358268',
'186361719',
'186501622',
'186512295',
'186515048',
'186529910',
'186567904',
'186567908',
'186042042',
'186042828',
'186049119',
'186050591',
'186074169',
'186074171',
'186074272',
'186076844',
'186108758',
'186221145',
'186224555',
'186224925',
'186233007',
'186238358',
'186303203',
'186313920',
'186331846',
'186512282',
'186512288',
'186529297',
'186530909',
'186568398',
'186568881',
'186981018',
'188111477',
'188112257',
'188117071',
'188117704',
'188117706',
'182276758',
'182276768',
'182277010',
'182277533',
'182280947',
'182313823',
'182375503',
'182379183',
'182382214',
'182382223',
'182394478',
'182404910',
'182405666',
'182451443',
'182452151',
'182452696',
'184115679',
'184117133',
'184152771',
'184152963',
'184169000',
'184172574',
'184166082',
'184168975',
'184172582',
'184201871',
'184207374',
'184208157',
'184209343',
'184211338',
'184212088',
'184223623',
'182461303',
'182466184',
'182467864',
'182468149',
'182473854',
'182474305',
'182541313',
'186362134',
'186489871',
'186490661',
'186512294',
'186513689',
'186530806',
'186536653',
'186567677',
'186744338',
'186755937',
'184152773',
'184166080',
'184168973',
'184202122',
'184207376',
'184209341',
'184209350',
'184210566',
'184211278',
'184211280',
'184212085',
'186216505',
'186219598',
'186229498',
'186229692',
'186232049',
'186303217',
'186306731',
'186307895',
'186307908',
'188106660',
'188106664',
'188117074',
'188121517',
'188121520',
'186314237',
'186322250',
'186331827',
'186360636',
'186515049',
'186530810',
'186530904',
'186531482',
'186536654',
'186567909',
'188126850',
'188132109',
'184215796',
'184215805',
'184219795',
'184223620',
'184231742',
'184231746',
'184241934',
'184241937',
'184245480',
'184273901',
'184278487',
'184278488',
'184282549',
'184289312',
'184290490',
'184421624',
'184556289',
'186568610',
'186600991',
'186923851',
'188107252',
'188117699',
'188117711',
'184575771',
'184707641',
'184710716',
'184711004',
'184712302',
'184714558',
'184743277',
'184743550',
'184743561',
'184876142',
'184899467',
'184913000',
'184916679',
'184952941',
'184952947',
'184953186',
'185050438',
'182461066',
'182471748',
'182478897',
'182532736',
'182578139',
'182593492',
'182637561',
'182639666',
'182708534',
'182736012',
'182901966',
'182914380',
'182919414',
'182961703',
'182962167',
'182967079',
'182989816',
'183028593',
'183071435',
'183071942',
'183072885',
'183073365',
'183177824',
'183196378',
'183197624',
'183197630',
'183209151',
'183361613',
'183524705',
'183532704',
'183532708',
'183555366',
'185756018',
'185950454',
'185972984',
'186017011',
'186037027',
'186038860',
'186039298',
'186039946',
'186042276',
'186043326',
'186044475',
'186044483',
'186049698',
'186049706',
'186075865',
'186076848',
'186100942',
'186103125',
'186109485',
'186109702',
'186117804',
'186130482',
'186132694',
'186149974',
'186150596',
'186194389',
'186224409',
'186231215',
'186232045',
'186233002',
'186303212',
'186305605',
'186306725',
'186306732',
'186306733',
'185350947',
'185350950',
'185362335',
'185421196',
'182382224',
'182383171',
'182386788',
'182386795',
'182392764',
'182398639',
'182406758',
'182407314',
'182408108',
'182454351',
'182454355',
'182456105',
'182456876',
'185715863',
'185731690',
'185751093',
'185754684',
'184013598',
'184029349',
'184052078',
'184057944',
'184057946',
'184108798',
'184112444',
'184112445',
'184112957',
'184114179',
'184116670',
'184117617',
'184117620',
'184137907',
'184168485',
'184168977',
'184206471',
'184207375',
'184208147',
'184210061',
'184210758',
'184210763',
'184211297',
'184211345',
'184214382',
'184214388',
'184214397',
'184214658',
'184215787',
'184215792',
'184215797',
'184215808',
'184229478',
'184231743',
'184243201',
'184370694',
'184466710',
'184578624',
'184707638',
'184710124',
'184714548',
'184743554',
'184743563',
'184838155',
'184875899',
'184876148',
'184876150',
'184876152',
'184877594',
'185937627',
'185967549',
'186036626',
'186040630',
'186042274',
'186044480',
'184890200',
'184901924',
'184911835',
'184952456',
'184952946',
'184971740',
'185049302',
'185056910',
'185183804',
'185337067',
'186050230',
'186050584',
'186074658',
'186074899',
'186075379',
'186075382',
'186075384',
'186075636',
'186076419',
'186076599',
'186096379',
'186106356',
'185442608',
'185761503',
'185788551',
'185937620',
'185979192',
'186036627',
'186038278',
'186038284',
'186130483',
'186141025',
'186193923',
'186923423',
'186981019',
'188114001',
'188114005',
'188117070',
'188117707',
'182275202',
'182276757',
'182277536',
'182314797',
'182378103',
'182378257',
'182378553',
'182361450',
'182365911',
'182372591',
'182372592',
'182375813',
'182379174',
'182380981',
'182382215',
'182385807',
'182388552',
'182391486',
'182399735',
'182405662',
'182408843',
'182451439',
'182455601',
'182456878',
'182463069',
'182468585',
'182474820',
'182509668',
'182529364',
'182546955',
'182551260',
'182557155',
'183416282',
'183430036',
'183446953',
'183523143',
'183524702',
'183529994',
'183655542',
'188106661',
'188111476',
'188115897',
'183740525',
'183745135',
'183779273',
'183779274',
'183782060',
'183909974',
'184019244',
'184056533',
'184057943',
'184104407',
'184107321',
'184108553',
'184112443',
'184116606',
'184138697',
'184148558',
'184148563',
'184166540',
'184208178',
'184210053',
'184210569',
'184210575',
'184211279',
'184213942',
'184214398',
'184215789',
'184215810',
'184231749',
'184232869',
'184233115',
'184241941',
'184242497',
'184273319',
'184282742',
'184283749',
'184370436',
'184561680',
'184714357',
'184807409',
'184835774',
'184876861',
'184877596',
'184878355',
'184890192',
'184896086',
'184898452',
'184913006',
'184967824',
'185049113',
'185176240',
'185183310',
'185337914',
'185350945',
'183663643',
'183760342',
'183788854',
'183860696',
'185350951',
'185362331',
'185632747',
'185647356',
'185664671',
'186312150',
'186322246',
'186329203',
'186363769',
'186487390',
'186503737',
'186512293',
'186515052',
'186529294',
'186529911',
'186533311',
'186568399',
'186994443',
'187103920',
'183072626',
'183073200',
'183073838',
'183108681',
'183191415',
'183192970',
'183316570',
'183316571',
'183322143',
'183323153',
'186229496',
'186229695',
'186232044',
'186238362',
'186303208',
'186039944',
'186050228',
'186050590',
'186074411',
'186074657',
'186075152',
'186076846',
'186100577',
'186103124',
'186106221',
'186107064',
'186110618',
'186112510',
'186305598',
'186306736',
'186310606',
'186313930',
'186322244',
'186529293',
'186529419',
'186530807',
'186129457',
'186132034',
'186149973',
'186149981',
'186193397',
'186221142',
'186222719',
'186222727',
'186229691',
'186230533',
'186231219',
'186236924',
'186303223',
'186536648',
'186567176',
'186567682',
'186568154',
'186584516',
'186746381',
'186924158',
'186980001',
'186993702',
'187000263',
'186312151',
'186329207',
'186331838',
'186512287',
'186530906',
'188111482',
'188113993',
'188115901',
'188121521',
'188126839',
'188126852',
'187102510',
'188117065',
'188117072',
'188132114',
'188134544'
)