<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Nrc.Framework.Configuration">
      <section name="environmentSettings" type="Nrc.Framework.Configuration.EnvironmentSettingsSectionHandler, Nrc.Framework" />
    </sectionGroup>
  </configSections>
  <Nrc.Framework.Configuration>
    <environmentSettings>
      <globalSetting name="LogEvents" value="true" />
      <globalSetting name="SqlTimeout" value="600" />
    </environmentSettings>
  </Nrc.Framework.Configuration>
</configuration>
