<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Nrc.Framework.Configuration">
      <section name="environmentSettings" type="Nrc.Framework.Configuration.EnvironmentSettingsSectionHandler, Nrc.Framework"/>
    </sectionGroup>
    <section name="Providers" type="System.Configuration.NameValueSectionHandler"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NRC.DataMart.WeightsLoader.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NRC.DataMart.WeightsLoader.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings/>
  <Providers>
    <add key="DataMartDataProvider" value="Nrc.DataMart.Library.SqlProvider.SqlDataProvider, Nrc.DataMart.Library.SqlProvider"/>
  </Providers>
  <Nrc.Framework.Configuration>
    <environmentSettings currentEnvironment="Development">
      <globalSetting name="LogEvents" value="true"/>
      <globalSetting name="CommandTimeout" value="600"/>
      <environment name="Production USA" type="Production">
        <setting name="DataMartConnection" isEncrypted="true" value="DO3tvHPYYDADEhTcSUfa9NIV/Fv/kcGg86T00ISSVYlYCOiobg/f2TU2XpsEKcLMb9C0SK3+8c+S2ORLgKs+NUYyaCmZrO4qJSkQAgYbJvw="/>
        <setting name="NRCAuthConnection" isEncrypted="true" value="DO3tvHPYYDAZVgZpqOVehTQIe1k7CAiWp4p/GHqb8GyoP+ybu/8C2IcJtffaQYwQzNvGw1vQH8/MQdujcVe2eg=="/>
        <setting name="SmtpServer" value="smtp2.nationalresearch.com"/>
      </environment>
      <environment name="Production CA" type="Production">
        <setting name="DataMartConnection" isEncrypted="true" value=""/>
        <setting name="NRCAuthConnection" isEncrypted="true" value=""/>
        <setting name="SmtpServer" value="NRCC02"/>
      </environment>
      <environment name="Staging" type="Testing">
        <setting name="DataMartConnection" isEncrypted="true" value="DO3tvHPYYDC75nxzI8lD5vLIEl6VugP5M8DHo4lxh3ey+1Yvgm8zNAJO9+r6qLLCchPtMNEDT9R74v1TXO61xDE5A588tx/KYese4Wmltps="/>
        <setting name="NRCAuthConnection" isEncrypted="true" value="DO3tvHPYYDBbxkyVwAVWOk0T/QlNrvvmUoCtt8AWB41XrAE+LG9au0gsDALw6I5JabAqQ2MJ3zcIzWoNsiceuw=="/>
        <setting name="SmtpServer" value="Huskers"/>
      </environment>
      <environment name="Testing" type="Testing">
        <setting name="DataMartConnection" isEncrypted="true" value="DO3tvHPYYDAonD4gM6GiRxl3Uy2eMnk47S0ER0IB4XjXYZzhteeUKpxVrBmQNIBD06YNJkF7IR1sSjDm420gd+tKUcU6pn8F"/>
        <setting name="NRCAuthConnection" isEncrypted="true" value="DO3tvHPYYDCUemh1XaHvEDWpc6lG3A7Mst0aCHkFrRxkeTe7JE2MSZDjzPuG/Lu44JOUEQwTNIr/Xfrnj0vZmw=="/>
        <setting name="SmtpServer" value="Superman"/>
      </environment>
      <environment name="Development" type="Development">
        <setting name="DataMartConnection" isEncrypted="true" value="DO3tvHPYYDAonD4gM6GiR/ekPuD+5QpVB7+lK1VITVPtVssIpeOQjzbt1PG/eEypKUUgQ9Tn/9UB1joaQmGNGz52Jr35wvkJD0zwYJtOnN8="/>
        <setting name="NRCAuthConnection" isEncrypted="true" value="DO3tvHPYYDCUemh1XaHvEIk49vaacJr/CmCT2WXqF1bf3s0sLcENgMi1el7JlPGZ3+VPuaA+XjG28G3nDiyqqS1V4+nSrZIQ"/>
        <setting name="SmtpServer" value="smtp2.nationalresearch.com"/>
      </environment>
    </environmentSettings>
  </Nrc.Framework.Configuration>
  <userSettings>
    <NRC.DataMart.WeightsLoader.My.MySettings>
      <setting name="LastImportPath" serializeAs="String">
        <value/>
      </setting>
    </NRC.DataMart.WeightsLoader.My.MySettings>
  </userSettings>
  <applicationSettings>
    <NRC.DataMart.WeightsLoader.My.MySettings>
      <setting name="DefaultSamplePopColumnName" serializeAs="String">
        <value>SampPop</value>
      </setting>
      <setting name="DefaultWeightColumnName" serializeAs="String">
        <value>Weight</value>
      </setting>
    </NRC.DataMart.WeightsLoader.My.MySettings>
  </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
