<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="websupergoo.abcupload">
            <section name="advanced" type="System.Configuration.SingleTagSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
            <section name="notes" type="System.Configuration.SingleTagSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
            <section name="queryfields" type="System.Configuration.SingleTagSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        </sectionGroup>
		<section name="environmentSettings" type="NRC.Configuration.EnvironmentSectionHandler, NRC"/> 
    </configSections>
    <websupergoo.abcupload>
        <advanced 
            enableProgressBar="true"
            fixCorruptUploads="true" 
            enableLargeUploads="false"
            multiThreaded="true"
            optimization="true"
            chunkSize="8192"
            tempDirectory=""
            logExceptions="false"
            serial=""
        />
        <notes
            exception = "An error occurred. {0}"
            connecting = "Connecting..."
            gettingSize = "Getting upload size..."
            checkingSize = "Checking upload size..."
            preloading = "Getting preloaded data..."
            transferring = "Transferring data..."
            finishing = "Finishing..."
            uploadStopped = "Upload stopped unexpectedly..."
            uploadTooLarge = "Upload size is greater than the maximum allowed..."
        />
        <queryfields
            uploadID = "UploadID"
            dumpPath = ""
        />
    </websupergoo.abcupload>

	<environmentSettings> 
		<globalSetting name="DefaultPassword" value="Password" />
		<environment name="ProductionUSA">
			<environmentID name="nrcpicker.com" /> 
			<setting name="DataExchangeConnection" isEncrypted="false" value="Data Source=DMZSQL;UID=DataExchange;PWD=ExchangeData;Initial Catalog=DataExchange"/>
			<setting name="SiteUrl" value="http://nrcpicker.com/DataExchange/" />
			<setting name="NRCPickerUrl" value="http://nrcpicker.com/" />
			<setting name="WWWNRCPickerUrl" value="http://www.nationalresearch.com/" />
			<setting name="PostedFilePath" value="Z:\data\DataExchange\PostedFiles\" />
			<setting name="UploadedFilePath" value="Z:\data\DataExchange\DataFileUploads\" />
			<setting name="SMTPServer" value="smtp2.nationalresearch.com" />
			<setting name="ClientSupportEmail" value="Data@NationalResearch.com" />
			<setting name="DataExchangeFromAddress" value="Data@NationalResearch.com" />
			<setting name="WebAdminEmail" value="TSmidberg@NationalResearch.com" />
			<setting name="UseSSL" value="True" />
			<setting name="Locale" value="USA" />
		</environment> 
		<environment name="ProductionCA">
			<environmentID name="www.nrcpicker.ca" /> 
			<setting name="DataExchangeConnection" isEncrypted="false" value="Data Source=localhost;UID=DataExchange;PWD=ExchangeData;Initial Catalog=DataExchange"/>
			<setting name="SiteUrl" value="http://www.nrcpicker.ca/DataExchange/" />
			<setting name="NRCPickerUrl" value="http://www.nrcpicker.ca/" />
			<setting name="WWWNRCPickerUrl" value="http://www.nationalresearch.ca/" />
			<setting name="PostedFilePath" value="D:\DataExchangeFiles\PostedFiles\" />
			<setting name="UploadedFilePath" value="D:\DataExchangeFiles\DataFileUploads\" />
			<setting name="SMTPServer" value="smtp2.nationalresearch.com" />
			<setting name="ClientSupportEmail" value="Data@NationalResearch.ca" />
			<setting name="DataExchangeFromAddress" value="Data@NationalResearch.ca" />
			<setting name="WebAdminEmail" value="TSmidberg@NationalResearch.com" />
			<setting name="UseSSL" value="True" />
			<setting name="Locale" value="Canada" />
		</environment> 
		<environment name="Testing"> 
			<environmentID name="stage.nrcpicker.com" /> 
			<setting name="DataExchangeConnection" isEncrypted="false" value="Data Source=Stage_DMZSQL;UID=qpsa;PWD=qpsa;Initial Catalog=DataExchange"/>
			<setting name="SiteUrl" value="http://stage.nrcpicker.com/DataExchange/" />
			<setting name="NRCPickerUrl" value="http://stage.nrcpicker.com/" />
			<setting name="WWWNRCPickerUrl" value="http://www.nationalresearch.com/" />
			<setting name="PostedFilePath" value="C:\WebSites\MySolutions\DataExchange\Posted" />
			<setting name="UploadedFilePath" value="C:\WebSites\MySolutions\DataExchange\Uploads" />
			<setting name="SMTPServer" value="smtp.nationalresearch.com" />
			<setting name="ClientSupportEmail" value="TSmidberg@NationalResearch.com" />
			<setting name="DataExchangeFromAddress" value="Data@NationalResearch.com" />
			<setting name="WebAdminEmail" value="TSmidberg@NationalResearch.com" />
			<setting name="UseSSL" value="True" />
			<setting name="Locale" value="USA" />
		</environment> 
		<environment name="Development"> 
			<environmentID name="127.0.0.1" /> 
			<environmentID name="localhost" /> 
			<environmentID name="JCamp" /> 
			<setting name="DataExchangeConnection" isEncrypted="false" value="Data Source=ADXStudio;UID=DataExchange;PWD=ExchangeData;Initial Catalog=DataTransfer"/>
			<setting name="SiteUrl" value="http://localhost/DataExchange/" />
			<setting name="NRCPickerUrl" value="http://dev.nrcpicker.com/" />
			<setting name="WWWNRCPickerUrl" value="http://www.nrcpicker.com/" />
			<setting name="PostedFilePath" value="C:\PostedFiles\" />
			<setting name="UploadedFilePath" value="C:\UploadedFiles\" />
			<setting name="SMTPServer" value="smtp.NationalResearch.com" />
			<setting name="ClientSupportEmail" value="JCamp@NationalResearch.com" />
			<setting name="DataExchangeFromAddress" value="Data@NationalResearch.com" />
			<setting name="WebAdminEmail" value="JCamp@NationalResearch.com" />
			<setting name="UseSSL" value="False" />
			<setting name="Locale" value="USA" />
		</environment> 
	</environmentSettings>    
	<system.web>
	
		<!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
	    <compilation defaultLanguage="vb" debug="false">
			<assemblies>
				<add assembly="ABCUpload5, Version=5.0.0.0, Culture=neutral, PublicKeyToken=1f89539196ce5fbf" />
			</assemblies>
	    </compilation>

		<!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.
    -->
		<customErrors mode="RemoteOnly" defaultRedirect="Error.aspx?sc=0">
			<error statusCode="408" redirect="Error.aspx?sc=408" />  <!-- Request Timeout  -->
			<error statusCode="404" redirect="Error.aspx?sc=404" /> <!-- Not Found  -->
		
		</customErrors>
		<!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"
    -->
		<authentication mode="Forms">
			<forms loginUrl="Default.aspx" />
		</authentication>
		<!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
		<authorization>
			<!-- <allow users="*" />  Allow all users -->
			<deny users="?" />
			<!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
		</authorization>
		<!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		<!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20" />
		<!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />

		<httpModules>
			<add name="Progress" type="WebSupergoo.ABCUpload5.ProgressModule, ABCUpload5, Version=5.0.0.0, Culture=neutral, PublicKeyToken=1f89539196ce5fbf"/>
		</httpModules>	
		<httpRuntime maxRequestLength="1048576" executionTimeout="1200" />		
	</system.web>
	<location path="Download.aspx">
		<system.web>
			<authorization>
				<allow roles="DownloadUser" />
				<deny users="*" />
			</authorization>	
		</system.web>
	</location>
	<location path="Upload.aspx">
		<system.web>
			<authorization>
				<allow roles="UploadUser,AdminUser" />
				<deny users="*" />
			</authorization>	
		</system.web>
	</location>
	<location path="PostFile.aspx">
		<system.web>
			<authorization>
				<allow roles="PostUser,AdminUser" />
				<deny users="*" />
			</authorization>	
		</system.web>
	</location>
	<location path="UploadLog.aspx">
		<system.web>
			<authorization>
				<allow roles="PostUser,AdminUser" />
				<deny users="*" />
			</authorization>	
		</system.web>
	</location>
	<location path="PostedFileLog.aspx">
		<system.web>
			<authorization>
				<allow roles="PostUser,AdminUser" />
				<deny users="*" />
			</authorization>	
		</system.web>
	</location>	
	<location path="Admin.aspx">
		<system.web>
			<authorization>
				<allow roles="AdminUser" />
				<deny users="*" />
			</authorization>	
		</system.web>
	</location>
	<location path="GotCookies.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>	
		</system.web>
	</location>
</configuration>
