@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta charset="utf-8" />
    <title>Access Denied</title>
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>
                    Catalyst Export Manager</h1>
            </div>
        </div>
        <div id="main">
            <h2>
                Access Denied</h2>
            You do not hace access to Catalyst Export Manager. Please submit a request to be added to
            the user list.
        </div>
        <div id="footer">
        </div>
    </div>
</body>
</html>
