<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="Nrc.Framework.Configuration">
      <section name="environmentSettings" type="Nrc.Framework.Configuration.EnvironmentSettingsSectionHandler, Nrc.Framework" />
    </sectionGroup>
    <section name="Providers" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <Providers>
    <add key="DataProvider" value="Nrc.AdventureWorks.Library.SqlProvider.SqlDataProvider, Nrc.AdventureWorks.Library.SqlProvider" />
  </Providers>
  <Nrc.Framework.Configuration>
    <environmentSettings>
      <globalSetting name="SqlTimeout" value="600" />
		<!--Used for import update-->
		<globalSetting name="RespondentFields" value="ADDRESS1|ADDRESS2|BATCHID|CITY|CILENTRESPONDENTID|DOB|EMAIL|FIRSTNAME|GENDER|LASTNAME|MIDDLEINITIAL|POSTALCODE|POSTALEXT|SSN|STATE|TELEPHONEDAY|TELEPHONEEVENING"/>
		<!--Used for Coventry Split File-->
		<globalSetting name="CoventryFiles" value="Altius Advantra (Medicare)|Georgia Advantra (Medicare)|Iowa Advantra (Medicare)|Kansas City Advantra (Medicare)|Nebraska Advantra (Medicare)|Persnal Care Advantra (Medicare)|Advantra Freedom PFFS (Medicare)|Advantra Savings (Medicare)|GHP Advantra (Medicare)|Carelink Advantra (Medicare)|HAPA Advantra (Medicare)"/>
		<globalSetting name="AltiusAdvantraMedicare" value=""/>
		<globalSetting name="GeorgiaAdvantraMedicare" value=""/>
		<globalSetting name="IowaAdvantraMedicare" value="7025661000*IA HMO DUAL ELIG SNP|7025662000*IA HMO DIABETIC SNP|7025663000*IA HMO CHOLESTEROL SNP"/>
		<globalSetting name="KansasCityAdvantraMedicare" value="5700380000*KC_JOPLIN DIABETIC SNP|5700390000*WICHITA DIABETIC SNP|5700640000*KC_JOPLIN CHOLESTEROL SNP|5700650000*WICHITA CHOLESTEROL SNP"/>
		<globalSetting name="NebraskaAdvantraMedicare" value=""/>
		<globalSetting name="PersnalCareAdvantraMedicare" value=""/>
		<globalSetting name="AdvantraFreedomPFFSMedicare" value="7602300500*State Of PA Employer Group|7607201010*City Of Charlottesville"/>
		<globalSetting name="AdvantraSavingsMedicare" value=""/>
		<globalSetting name="GHPAdvantraMedicare" value="6507022000*ADVANTRA EXTRA SUPER|6508000000*ADVANTRA EXTRA 3_4 SUPER"/>
		<globalSetting name="CarelinkAdvantraMedicare" value="8501702019*CWV DUAL ELIGIBLE SNP"/>
		<globalSetting name="HAPAAdvantraMedicare" value="5920980000*ALLEG CHOLESTEROL SNP|5920990000*WPA CHOLESTEROL SNP|5921000000*ALLEG DIABETIC SNP|5921010000*WPA DIABETIC SNP|5921020000*DUAL ELIGIBLE SNP"/>
		<globalSetting name="CoventryColNames" value="RecordID|Flag01|User1|LastName|FirstName|Middle|Address1|Address2|City|State|PostalCode|PostalCodeExt|TelephoneDay|TelephoneEvening|DOB|Gender|ClientRespondentID|MemberID|Relationship|Property_User1|MemberEffectiveDate|MemberTerminationDate|Member_Type|Contract_Desc|Contract|ContractEffectiveDate|ContractTerminationDate|MemberDependent|FSC|FSCEffectiveDate|FSCTerminationDate|MedConverageIndicator|EffectiveDate|Region|GroupID|SubgroupID|Department|RXCoverageIndicator|PlanType|Product|Product2|PlanID|PlanEffectiveDate|Copay|Rider01|Rider02|Rider03|PCPCode|PhysicianLastName|PhysicianID|PhysicianAddr1|PhysicianCity|PhysicianEffectiveDate|PhysicianTerminationDate|ProviderID|PhysicianFirstname|TerminationDesc|SkipField|HICN|SubscriberSSN|RelationshipCode" />
		<!--Used for Wellpoint Split File-->
		<globalSetting name="WellpointSchema" value="LastName|FisrtName|Address1|Address2|City|State|Code|Phone|Sex|DOB|SSN|EnrollmentDate|StateCode|ProductFamily|ProductCode|ProductLongDesc|CompanyCode|CountyName" />
		<!--<globalSetting name="WellpointClients" value="WP_AICI_PFFS|WP_AICI_HMO|WP_BC_California|WP_BCBS_Georgia|WP_BCBS_Missouri|WP_BCBS_Wisconsin|WP_Unicare_PFFS|WP_Unicare_MSA" />-->		
		<globalSetting name="WellpointClients" value="WP_AICI_PFFS|WP_AICI_HMO|WP_BC_California|WP_BCBS_Georgia|WP_BCBS_Missouri|WP_BCBS_Wisconsin" />
		<globalSetting name="WP_AICI_PFFS" value="201C*CO|201C*CT|201C*IN|201C*KY|201C*ME|201C*NH|525C*NV|201C*VA|525C*NV|201C*CO|300C*CT|201C*IN|201C*KY|201C*ME|525C*NV|820C*NH|201C*OH|201C*VA"/>
		<globalSetting name="WP_AICI_HMO" value="522C*CO"/>
		<globalSetting name="WP_BC_California" value="200C*CA|200C*CA|200C*CA|200C*CA"/>
		<globalSetting name="WP_BCBS_Georgia" value="385C*GA|385C*GA|201C*GA"/>
		<globalSetting name="WP_BCBS_Missouri" value="262C*MO|201C*MO"/>
		<globalSetting name="WP_BCBS_Wisconsin" value="422C*WI|201C*WI"/>
		<!--<globalSetting name="WP_Unicare_PFFS" value="365C*IL*PFFS|365C*MI*PFFS|365C*MN*PFFS|365C*NY*PFFS|365C*NC*PFFS|365C*TX*PFFS|365C*UT*PFFS"/>
		<globalSetting name="WP_Unicare_MSA" value="365C*IL*MSA|365C*MI*MSA|365C*MN*MSA|365C*NC*MSA|365C*NY*MSA|365C*TX*MSA|365C*UT*MSA|365C*VA*MSA"/>-->
			  
      <environment name="Production" type="Production">
		  <setting name="NrcAuthConnection" description="Mercury" isEncrypted="true" value="DO3tvHPYYDAZVgZpqOVehTQIe1k7CAiWp4p/GHqb8GyoP+ybu/8C2IcJtffaQYwQzNvGw1vQH8/MQdujcVe2eg==" />		  
		  <setting name="QMSConnection" description="Aries" isEncrypted="true" value="DO3tvHPYYDB5Ktge/0Di/+qDSsILIrsQp8rM/p08thuPdA0aqyax4V/x99+903KVVeifsudwsZPX6OAv4yKMFHenALBL+q5v" />
		  <setting name="SmtpServer" description="Production SMTP" isEncrypted="false" value="smtp2.nationalresearch.com" />
	  </environment>
      
      <environment name="Staging" type="Testing">
		  <setting name="NrcAuthConnection" description="JayHawk" isEncrypted="true" value="DO3tvHPYYDDt/PZdQu6hZG3W+1RyJqxSd1wsJtLiiNjVq7LPva+DeT3H2d0gYPv/IWxyx5ur04dqfn6b7rmNwQ==" />
		  <setting name="QMSConnection" description="stage_qms_db" isEncrypted="true" value="DO3tvHPYYDCaj7jpEpOLQdYDpZ+XwmfakN3oFEpm4/zFrqYAXPWxjLmF1xunJ9t9fQomd0r1pqIDmjOuvo3OBjRX2NPc3vXehLP1A5kkPmo=" />
		  <setting name="SmtpServer" description="Production SMTP" isEncrypted="false" value="smtp2.nationalresearch.com" />
      </environment>
      <environment name="Testing" type="Testing">
		  <setting name="NrcAuthConnection" description="Ironhide" isEncrypted="false" value="Data Source=Ironhide;UID=qpsa;PWD=qpsa;Initial Catalog=NRCAuth;" />
		  <setting name="QMSConnection" description="Test_QMS_DB" isEncrypted="false" value="Data Source=Test_QMS_DB;UID=qmswebuser;PWD=Welcome1;Initial Catalog=QMS;" />
		  <setting name="SmtpServer" description="Production SMTP" isEncrypted="false" value="smtp2.nationalresearch.com" />
      </environment>

      <environment name="Development" type="Development">
        <setting name="NrcAuthConnection" description="Ironhide" isEncrypted="false" value="Data Source=Ironhide;UID=qpsa;PWD=qpsa;Initial Catalog=NRCAuth;" />
        <setting name="QMSConnection" description="Test_QMS_DB" isEncrypted="false" value="Data Source=Test_QMS_DB;UID=qmswebuser;PWD=Welcome1;Initial Catalog=QMS;" />
        <setting name="SmtpServer" description="Production SMTP" isEncrypted="false" value="smtp2.nationalresearch.com" />
      </environment>

      
    </environmentSettings>
  </Nrc.Framework.Configuration>
  <appSettings>
    <add key="FileType" value ="Coventry Adult Update 2012,Coventry Child Update 2012,Coventry 5-Star 2012,Maternity,Excellus,Excellus Update 2012,Excellus Update 2016,Wellpoint 2011,Wellpoint 2013,5 Star,Highmark Update 2013,SecBlue Update 2013,Lovelace Adult Update 2013,Lovelace Child Update 2013,Florida Blue,PHN 2013,Priority Health,Med Mutual,AZ Blue"/>
    <!--<add key="FileType" value ="Coventry Adult Update 2012,Coventry Child Update 2012,Coventry 5-Star 2012,Adult,Child,Maternity,Excellus,Wellpoint 2011,5 Star,Highmark,SecBlue,Wellpoint,Lovelace Adult,Lovelace Child"/>-->
  </appSettings>
</configuration>
